---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";
import analytics from "../../../../assets/images/service/visionAI/analytics.png";
import electronics from "../../../../assets/images/service/visionAI/electronics.png";

const cardData = [
  {
    image: electronics,
    heading: "98% Accuracy in Defect Detection for Electronics Manufacturer",
    description:
      "A leading electronics company implemented our Vision AI-based defect detection system, increasing inspection accuracy by 98% and reducing product recall rates by 15%.",
  },
  {
    image: analytics,
    heading: "20% Sales Increase through In-Store Behavior Analytics",
    description:
      "Our Vision AI system helped a major retail chain track customer behavior and optimize product placements. This resulted in a 20% increase in sales and improved inventory management",
  },
];

const technologies = [
  "Future-proof technology",
  "Agile, scalable solutions",
  "Deep tech expertise",
];
---

<h1
  class="text-centerheading text-primary font-dmSans font-semibold my-10 md:my-20 text-center"
>
  Success Stories
</h1>
<div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container">
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
<h1
  class="text-centerheading text-primary font-dmSans font-semibold lg:mt-25 md:mt-10 mt-5 text-center"
>
  Why Choose Us
</h1>

<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[10px] place-items-center p-4 mt-5 md:mt-10 container max-w-[1800px]"
>
  {
    technologies.map((tech, index) => (
      <div
        key={index}
        class=" container max-w-[470px] max-h-[82px] h-screen flex items-center lg:text-[32px] text-xl text-primary font-semibold justify-center border-2 border-white rounded-[10px] "
      >
        {tech}
      </div>
    ))
  }
</div>
