---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title:
      "Expertise in handling complex datasets and building scalable systems",
  },
  {
    title: "AI-powered insights integrated into data workflows",
  },
  {
    title: "Proven experience across cloud, big data, and advanced analytics",
  },
  {
    title: "End-to-end data solutions, from engineering to visualization",
  },
];
---

<div class="my-10 md:my-20">
  <div class="container  flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-8 text-primary">
      Why Choose Spritle for Data Science & Big Data
    </h2>

    <div>
      <Star items={items} />
    </div>
  </div>
</div>
