---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container"
  >
    <GradientHeading
      text="Data Science & Big Data Solutions for Smarter Decisions"
    />
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Unlock the value of data with advanced analytics and scalable big data
      platforms
    </p>
    <button
      class="mt-6 bg-[#15AED5] text-white text-base md:text-lg lg:text-xl font-medium px-4 py-2 md:px-6 md:py-3 lg:px-20 lg:py-2 rounded-full flex items-center gap-2"
    >
      Explore Our Data Solutions <img
        src="/assets/arrowright.png"
        alt="Right Arrow"
        class="w-4 h-4 md:w-5 md:h-5 lg:w-4 lg:h-4"
      />
    </button>
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Empowering Businesses with Data-Driven Insights
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Our data science and big data expertise help businesses make informed
      decisions, optimize operations, and predict trends. From advanced
      analytics to cloud-based data platforms, we tailor our solutions to fit
      your unique needs
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
