---
import DataPillCard from "../DynamicProps/DataPillCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container mt-8 md:mt-20 lg:mt-40"
>
  Core AI & ML Services
</div>
<div class="container gap-5 grid md:grid-cols-2 grid-cols-1 xl:grid-cols-3">
<DataPillCard
  logo="/assets/unique1.svg"
  heading="Advanced Analytics & Predictive Modeling"
  content={["Customer segmentation", "Sales forecasting","Risk analysis"]}
  description="We create predictive models using machine learning and statistical techniques to forecast trends and behaviors"
/>
<DataPillCard
  logo="/assets/unique1.svg"
  heading="Big Data Platform Development"
  content={["Hadoop", "Spark","kafka", "cassandra"]}
  description="Designing scalable, distributed systems to process massive datasets with low latency. Expertise in handling structured and unstructured data."
/>
<DataPillCard
  logo="/assets/unique1.svg"
  heading="Data Engineering & Pipelines"
  content={["Apache NiFi", "AWS Data Pipeline","Airflow"]}
  description="Building efficient data pipelines for real-time processing and analysis. We ensure seamless data flow across your organization"
/>
<DataPillCard
  logo="/assets/unique1.svg"
  heading="Data Visualization & BI Tools"
  content={["Power BI", "Tableau","looker"]}
  description="Transform complex data into intuitive dashboards and visual reports, driving data-driven decisions at every level"
/>
<DataPillCard
  logo="/assets/unique1.svg"
  heading="Cloud Data Solutions"
  content={["Customer segmentation", "Sales forecasting","Risk analysis"]}
  description="We deploy scalable data solutions in cloud environments, ensuring high availability and security while handling vast data volumes."
/>
<DataPillCard
  logo="/assets/unique1.svg"
  heading="AI-Powered Data Insights"
  content={["Real-time monitoring", "Anomaly detection","Customer behavior"]}
  description="Our AI models process big data to extract actionable insights, enabling real-time decision-making and trend detection"
/>
</div>