---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-40"
>
  Core AI & ML Services
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 container px-5 md:px-0 mt-5 md:mt-20"
>
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Big Data Technologies"
    description="Expertise in Hadoop, Apache Spark, NoSQL databases like MongoDB, and distributed processing."
  />
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Machine Learning & AI Integration"
    description="From generaProficiency in applying AI models for predictive analytics and automating data processes"
  />
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Cloud Data Engineering"
    description="Expertise in deploying, managing, and scaling data platforms on AWS, Azure, and GCP"
  />
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Data Security & Compliance"
    description="Deep knowledge of GDPR, HIPAA, and industry-specific regulations to ensure data integrity and security"
  />
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Data Integration & ETL"
    description="Mastery in integrating data from multiple sources and designing ETL workflows for seamless operations"
  />
</div>
