---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/manufacturing1.svg",
    heading: "Predictive Maintenance for a Global Manufacturer",
    description:
      "Implemented AI-based predictive maintenance, reducing equipment downtime by 30% and maintenance costs by 25%",
  },
  {
    image: "/assets/manufacturing2.svg",
    heading: "IoT-Driven Smart Factory Solution",
    description:
      "Designed and deployed an IoT platform for a leading automotive manufacturer, improving operational efficiency by 20%",
  },
  {
    image: "/assets/manufacturing3.svg",
    heading: "Robotics Automation for Electronics Manufacturing",
    description:
      "Integrated a robotics solution that streamlined assembly processes, reducing human error and increasing output by 35%",
  },
];
---

<div class="container px-5 md:px-0 my-10 md:my-20">
  <div class="text-heading text-primary md:mb-12 mb-2 font-semibold">
    Industry Success Stories
  </div>
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5">
      {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
    </div>
  </div>
</div>
