---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "AI & IoT Expertise",
    description:
      " Expert in AI, machine learning, and personalized learning systems.",
  },
  {
    title: "Proven Efficiency Gains",
    description: " Solutions designed to grow with educational institutions",
  },
  {
    title: "Scalable Solutions",
    description:
      "  Creating digital learning environments that adapt to the evolving needs of students and educators",
  },
];
---

<div class="container px-5 md:px-0 my-10 md:my-20">
  <div class="flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-8 text-primary">
      Why Spritle for Manufacturing Tech?
    </h2>

    <div class="mt-3 md:mt-5 lg:mt-10">
      <Star items={items} maxWidth="1500px" />
    </div>
  </div>
</div>
