---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container mt-8 md:mt-20 lg:mt-40"
>
  Manufacturing Technology Solutions We Offer
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6 container"
>
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Predictive Maintenance & Asset Optimization"
    description="Transform learning environments with AI-powered platforms that adapt to individual student needs, providing personalized learning paths and real-time performance insights"
  />
  <UniqueValueCard
    logo="/assets/unique2.svg"
    title="IoT-Enabled Smart Factories"
    description="Deliver seamless online education experiences with interactive virtual classrooms, enabling collaboration between students and educators, anywhere in the world"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Robotics & Automation Integration"
    description="Use machine learning to create intelligent tutoring systems that provide real-time support and feedback to students, enhancing their learning outcomes"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Digital Twin & Simulation"
    description="Leverage data analytics to track student progress, identify learning gaps, and offer tailored interventions that help students achieve their full potential"
  />
</div>
