---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40 container px-5 md:px-0">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background"
  >
    <div class="">
      <GradientHeading
        text="Transforming Healthcare with Cutting-Edge Technology"
      />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-gradientbody max-w-[600px]">
      Empowering providers and patients with digital solutions that drive better
      outcomes
    </p>
    <BtnBig
      text="Explore Our Healthcare Innovations"
      icon="/assets/rightarrow.svg"
      class="px-5"
    />

    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Digital Transformation for Modern Healthcare
    </h1>
    <p
      class="text-secondary mt-0 text-subbody font-normal text-center max-w-[1200px]"
    >
      We bridge the gap between healthcare needs and technology, creating
      secure, scalable solutions that enhance patient care and streamline
      operations
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
