---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-semibold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-30"
>
  Healthcare Solutions We Offer
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6 container px-5 md:px-0 mt-8 md:mt-20 lg:mt-30"
>
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="AI-Powered Diagnostics"
    description="Leverage AI to enhance diagnostic accuracy and accelerate medical decision-making with intelligent data-driven insights"
  />
  <UniqueValueCard
    logo="/assets/unique2.svg"
    title="Telemedicine Platforms"
    description="Move to the cloud with confidence. We design cloud architectures that are secure, scalable, and cost-efficient"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Electronic Health Records (EHR) Systems"
    description="Implement robust EHR systems that ensure efficient patient data management, HIPAA compliance, and seamless care coordination"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="IoT for Healthcare"
    description="Enhance patient care with IoT-enabled devices, enabling real-time monitoring and proactive health interventions"
  />
</div>
