---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/health1.svg",
    heading: "Remote Patient Monitoring Platform",
    description:
      "Developed a real-time monitoring system for cardiac patients, reducing hospital readmissions by 25%",
  },
  {
    image: "/assets/health2.svg",
    heading: "Telemedicine Solution for Rural Healthcare",
    description:
      "Implemented a telemedicine platform, improving access to care for patients in remote areas and decreasing wait times",
  },
  {
    image: "/assets/health3.svg",
    heading: "AI-Driven Radiology Tool",
    description:
      "Created an AI-powered radiology tool that increased diagnostic accuracy by 40%, helping radiologists detect abnormalities faster.",
  },
];
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-30"
>
  Industry Use Cases
</div>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-8 md:mt-20 lg:mt-30 container px-5 md:px-0"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
