---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/ecommerce1.svg",
    heading: "AI Personalization for an Apparel Brandz",
    description:
      "Implemented an AI-powered recommendation engine, boosting conversion rates by 25% and average order value by 15%",
  },
  {
    image: "/assets/ecommerce2.svg",
    heading: "Omnichannel Solution for a Global Retailer",
    description:
      "Deployed an omnichannel commerce platform that unified inventory management across physical and online stores, increasing operational efficiency by 30%",
  },
  {
    image: "/assets/ecommerce3.svg",
    heading: "Predictive Analytics for E-commerce",
    description:
      "Built a demand forecasting tool for an electronics retailer, reducing stockouts by 20% and optimizing inventory management",
  },
];
---

<div class="container my-10 md:my-20">
  <div class="text-heading text-primary md:mb-12 mb-2 font-semibold">
    Industry Success Stories
  </div>
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5">
      {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
    </div>
  </div>
</div>
