---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-semibold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-40"
>
  E-commerce Technology Solutions We Offer
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6 container px-5 md:px-0 mt-8 md:mt-20 lg:mt-30"
>
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title=" AI-Driven Personalization Engines"
    description="Increase conversions with AI-powered recommendation systems that deliver personalized product suggestions and targeted promotions"
  />
  <UniqueValueCard
    logo="/assets/unique2.svg"
    title="Omnichannel Commerce Platforms"
    description="Implement omnichannel solutions for a unified shopping experience across web, mobile, and physical stores, powered by robust cloud infrastructure"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Predictive Analytics for Demand Forecasting"
    description="Use advanced analytics and machine learning to forecast demand, optimize inventory, and reduce stockouts and overstocking"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Seamless Payment & Checkout Integration"
    description="Streamline payments with secure, multi-currency payment gateways and seamless checkout processes, reducing cart abandonment rates"
  />
</div>
