<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Conclusion</h3>
  <div class="items-center justify-center flex">
    <p
      class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
    >
      Spritle’s e-learning platform addresses key challenges in online education
      by delivering a unified, interactive experience for students and
      educators. It brings together courses, resources, real-time interaction,
      and community engagement in a scalable, seamless solution that enriches
      the digital learning experience for all users.
    </p>
  </div>
</div>
