---
import CaseStudyHero from "@/components/DynamicProps/CaseStudyHero.astro";
---

<CaseStudyHero
  imageUrl="/assets/cs6.png"
  text="Unlocking Education with Smooth, Engaging Digital Learning"
  class=""
/>

<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Overview</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
  >
    Spritle developed a state-of-the-art e-learning platform designed to enhance
    the online educational experience. The mobile and web application integrates
    a wide variety of courses, personalized teacher-student interactions, and a
    LinkedIn-like community for peer engagement, creating a cohesive,
    interactive, and dynamic learning environment.
  </p>
</div>
