---
import CaseStudyHero from "@/components/DynamicProps/CaseStudyHero.astro";
---

<CaseStudyHero
  imageUrl="/assets/cs4.png"
  text="A Platform for Managing and Coordinating Every Sports Meet Across the USA"
  class=""
/>

<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Overview</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
  >
    A leading logistics company in the US Reach24, was facing inefficiencies in
    fleet management, truck maintenance, and incident resolution. These
    inefficiencies led to slower response times, higher operational costs, and
    disruptions in day-to-day operations. Truck owners had to rely on cumbersome
    paperwork and manual processes to manage inspections, repairs, and driver
    performance. These challenges created a bottleneck in their ability to
    streamline operations.
  </p>
</div>
