---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "40% reduction in response time for resolving maintenance and incident-related issues.",
  
  },
  {
    title: "Improved truck performance and reduced downtime through automated maintenance schedules.",
   
  },
  {
    title: "Enhanced driver productivity, optimizing routes and minimizing idle time.",
 
  },
  {
    title: "Reduction in manual processes and paperwork by 80%, improving administrative efficiency.",
   
  },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-6 text-primary">
Key Benefits
    </h2>

    <div>
      <Star items={items} maxWidth="1450px" />
    </div>
  </div>
</div>
