<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Our Solution</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7   bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px] "
  >
  Spritle’s platform addresses these pain points by offering a comprehensive suite of tools, including:
  </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-20 container px-5 md:px-0 text-white p-6 mt-5 md:mt-10 lg:mt-20">
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary ">Vehicle inspection and maintenance </h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">Automated and digitized vehicle inspection and maintenance workflows to reduce paperwork by 80%.
  </p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">Real-time tracking   </h3>
        <p class="mt-2 text-subheading text-secondary font-medium "> Real-time tracking for up-to-date vehicle condition monitoring.

        </p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">Optimized driver productivity</h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">Optimized driver productivity through route and idle time management.
  
</p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">Rapid incident management tools</h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">Rapid incident management tools to enable quicker issue resolution.
</p>
  </div>
 
</div>  