---
// AiCard.astro
const { image, title, description } = Astro.props;
---

<div
  class="relative border-2 border-[#D6D6D6] rounded-[10px] overflow-hidden shadow-lg p-4 xl:h-[593px] w-full"
>
  <div class="absolute inset-0 rounded-lg m-1"></div>
  <img
    src={image}
    alt={title}
    class="w-full h-[349px] object-cover rounded-lg"
  />
  <div class="mt-5">
    <div class="flex items-center justify-between">
      <h2 class="text-primary text-subtitle font-medium">{title}</h2>
      <img
        src="../assets/industrybutton.svg"
        alt="Industry Button"
        class="p-1 hover:bg-[#15AED5] transition duration-300 size-12"
      />
    </div>
    <p class="text-[#B0B0B0] font-medium text-subheading mt-7">
      {description}
    </p>
  </div>
</div>
