---
// AiCard.astro
const { image, title, description } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="relative border-2 border-[#D6D6D6] rounded-lg overflow-hidden p-3 lg:p-6 w-full h-full"
>
  <div class="absolute inset-0 rounded-lg m-1 min-h-[593px]"></div>
  <Image
    src={image}
    alt={title}
    class="w-full min-h-[200px] max-h-[349px] object-cover rounded-lg"
  />
  <div class="mt-6">
    <div class="flex items-center justify-between">
      <h2 class="text-primary text-subtitle font-medium">{title}</h2>
      <!-- <img
        src="../assets/industrybutton.svg"
        alt="Industry Button"
        class="p-1 hover:bg-[#15AED5] transition duration-300 size-12"
      /> -->
      <aiArrow
        alt="Industry Button"
        class="p-1 hover:bg-[#15AED5] transition duration-300 size-12"
      ></aiArrow>
    </div>
    <p class="text-[#B0B0B0] font-medium text-subheading mt-4 mb-5">
      {description}
    </p>
  </div>
</div>
