---
const { text = "Click Me", class: customClass = "", icon = "" } = Astro.props;
const defaultClass =
  " btnprimary   px-6  py-2  text-subheading ";
---

<button class={`${defaultClass} ${customClass}`}>
  {text}
  {icon && <img src={icon} alt="icon" class="w-4 h-4 " />}
</button>
