---
const { class: customClass = "", text = "Click Me" } = Astro.props;
const defaultClass =
  "btnprimary  text-body px-4 py-2   mt-9 md:mt-0";
---

<button class={`${defaultClass} ${customClass}`}>
  {text}
</button>
