---
const { features } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-2 gap-20   my-10 md:my-20"
>
  {
    features.map((feature) => (
      <div class="p-6 border-l-7 border-[#15AED5] rounded-t rounded-b">
        <h3 class="text-subtitle font-medium text-primary">{feature.title}</h3>
        <p class="mt-2 text-subheading text-secondary font-medium">
          {feature.description}
        </p>
      </div>
    ))
  }
</div>
