---
const { items, maxWidth = "1212px" } = Astro.props; // Default value set to 1212px
---

<div class="py-3">
  {
    items.map((item, index) => (
      <div
        class={`flex items-center mb-0 md:mb-5 py-2`}
        style={`max-width: ${maxWidth};`}
      >
        <div class="lg:mr-8 mr-3 min-h-12 min-w-12 md:min-h-20 md:min-w-20">
          <img
            src="/assets/star.svg"
            alt="Logo"
            class="h-full w-full md:mt-0"
          />
        </div>
        <div class="flex items-center">
          <h4 class="font-medium font-primary text-subbody leading-none">
            {item.title}
            {item.description && `: `}
            <span class="text-lg md:text-xl lg:text-[28px] text-base font-medium text-secondary">
              {item.description}
            </span>
          </h4>
        </div>
      </div>
    ))
  }
</div>
