---
// CustomerCard.astro
import { Image } from "astro:assets";
const { image, heading, description } = Astro.props;
---

<div
  class="rounded-lg border-2 border-gray-300 p-2 md:p-3 lg:p-5 gap-5 flex flex-col h-full w-full group focus:outline-none focus:ring-1 focus:ring-button focus:border-button hover:border-button"
>
  <div class="">
    <!-- <img
      src={image}
      alt="Customer Image"
      class="w-full rounded-lg object-cover h-full"
    /> -->

    <Image
      src={image}
      alt="Logo"
      width={1000}
      height={1000}
      class="w-full rounded-xl object-cover h-50 md:h-54 lg:h-80 xl:h-88"
    />
    <!-- class="mb-4 max-w-[54px] max-h-[52px] mt-0" -->
  </div>
  <div class="w-full gap-5 flex flex-col">
    <h2 class="font-medium text-subtitle text-primary h-18 lg:h-25 xl:h-16">
      {heading}
    </h2>
    <p class="text-[#B0B0B0] font-medium text-subheading">
      {description}
    </p>
  </div>
</div>
