---
import { Image } from "astro:assets";
const { image, heading, description } = Astro.props;
---

<div
  class="flex flex-col rounded-lg border-2 border-gray-300 p-2 md:p-3 lg:p-5 gap-2 md:gap-4 h-full w-full group focus:outline-none focus:ring-1 focus:ring-button focus:border-button hover:border-button"
>
  <!-- Fixed height for image container -->
  <div class="w-full h-52 md:h-56 lg:h-80 xl:h-88 overflow-hidden rounded-xl">
    <Image
      src={image}
      alt="Logo"
      width={1000}
      height={1000}
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Fixed height for heading to ensure alignment -->
  <h2
    class="font-medium text-subtitle text-primary"
  >
    {heading}
  </h2>

  <!-- Description section -->
  <div class="flex-1 flex items-start">
    <p class="text-[#B0B0B0] font-medium text-subheading">
      {description}
    </p>
  </div>
</div>
