---
const { logo, title, description } = Astro.props;
---

<div
  class="bg-[#313131] rounded-lg border-2 border-[#E2E2E2] p-6 max-w-[560px] w-full flex justify-center items-center flex-col py-15"
>
  <img src={logo} alt="Logo" class="mb-4 max-w-[54px] max-h-[52px] mt-0" />
  <h2 class="text-primary lg:text-[32px] text-xl font-medium  text-center py-3">
    {title}
  </h2>
  <p class="text-[#B0B0B0] font-normal text-subheading text-center py-3">
    {description}
  </p>
</div>
