---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div class="my-10 md:my-20">

  <div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container md:px-0 px-5"
  >
  Key QA & Testing Services We Offer
</div>
<div
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 container md:px-0 px-5 "
>
<UniqueValueCard
logo="/assets/unique1.svg"
title="Automated Testing & CI/CD Integration"
description="Leverage AI-driven automated testing frameworks integrated with CI/CD pipelines for faster, reliable, and continuous testing processes"
/>
<UniqueValueCard
logo="/assets/unique1.svg"
title="Performance Testing & Load Simulation"
description="Simulate real-world conditions to evaluate system performance, scalability, and reliability under load, ensuring seamless user experience even during peak usage"
/>
<UniqueValueCard
logo="/assets/unique1.svg"
title="Security Testing & Vulnerability Assessment"
description="Identify and eliminate potential security vulnerabilities with in-depth penetration testing and security assessments to safeguard applications"
/>
<UniqueValueCard
logo="/assets/unique1.svg"
title="AI-Powered Regression Testing"
description="Utilize machine learning algorithms to predict and identify high-impact test cases for efficient regression testing, ensuring stability after code changes"
/>
<UniqueValueCard
logo="/assets/unique1.svg"
title="User Experience (UX) Testing"
description="Ensure intuitive, user-friendly interfaces through comprehensive usability testing that assesses the functionality and accessibility of applications"
/>
</div>

</div>