---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container px-5 md:px-0"
  >
    <div class="">
      <GradientHeading
        text="Proactive Maintenance & Reliable Support for Maximum Uptime"
        maxWidth="1487px"
      />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Ensuring flawless user experiences with comprehensive, AI-driven QA and
      testing solutions
    </p>
    <BtnBig
      text="Deliver Quality with Confidence"
      icon="/assets/rightarrow.svg"
      class="px-15"
    />
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Beyond Routine: Intelligent Maintenance for Lasting Performance
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Spritle combines AI-driven monitoring, automated updates, and preventive
      strategies to ensure minimal downtime and optimal performance for your
      systems
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
