---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div
  class="flex flex-col justify-center items-center text-center h-screen md:max-h-[666px] max-h-[500px] px-4 space-y-5 bg-[#313131] mt-5 lg:mt-20"
>
  <div class="contanier">
    <GradientHeading maxWidth="1535px" text="Keep Your Software Running at Peak Performance" />
  </div>
  <p class="font-normal mt-4 text-subbody text-p rimary max-w-[1000px]">
    Trust Spritle’s intelligent maintenance and support solutions to keep your
    business running smoothly and efficiently
  </p>
  <button
    class="mt-6 bg-btnprimary text-white text-base md:text-lg lg:text-xl font-medium px-4 py-2 md:px-6 md:py-3 lg:px-20 lg:py-2 rounded-full flex items-center gap-2"
  >
    <img
      src="/assets/staricon.png"
      alt="Right Arrow"
      class="w-4 h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
    />
    Get in Touch with Our Support Experts
  </button>
</div>
