<div
  id="AiUpSliderContainer"
  class="flex justify-center items-center container md:px-0 px-5 overflow-hidden md:mt-20 xl:mt-40 mt-10"
  style="height: auto; min-height: 736px; border-radius: 20px;"
>
  <div
    id="AiUpSliderWrapper"
    class="relative w-full flex flex-col h-auto"
  >
    <!-- Static Content -->
    <div
      rounded-div
      class="flex flex-col lg:flex-row w-full h-full max-h-[736px] items-center justify-around px-6 py-4 lg:px-15 bg-black overflow-hidden"
    >
      <!-- Left Content -->
      <div class="w-full xl:w-1/2 space-y-1 md:space-y-5 lg:space-y-14 mb-6 lg:mb-0">
        <h2 class="xl:text-4xl md:text-2xl text-xl font-semibold text-primary">
          Unified view of your customers
        </h2>
        <p class="text-subheading font-normal text-primary max-w-[757px]">
          Are you a startup grappling with managing both your creative concepts
          and technical infrastructure? We understand the struggle. Our
          user-friendly solutions are designed to adapt as your startup expands.
          Focus on your passion while we handle the tech, accelerating your
          journey to realizing your dreams.
        </p>
        <p class="text-subheading font-normal text-primary">
          Young companies we partnered with
        </p>
      </div>

      <!-- Right Image -->
      <div
        class="w-full md:w-full lg:w-1/2 flex justify-center lg:justify-end md:p-0 xl:p-40 lg:mt-10 lg:ml-10 xl:ml-0 xl:mt-14 md:mb-30 md:h-[400px] lg:h-auto"
      >
        <img
          src="/assets/groupgpt.png"
          alt="Image"
          class="w-full h-auto  object-contain rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
