---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Human-Centered Design",
    description: " Focusing on emotional intelligence in every interaction.",
  },
  {
    title: "Future-Proof Solutions",
    description: " Designs that grow and evolve with your brand and user base.",
  },
  {
    title: "Real-Time Decision-MakingCollaboration First",
    description:
      " We partner with your team at every step, ensuring alignment and innovation",
  },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2
      class="text-centerheading font-medium mb-6  text-primary"
    >
      Why Spritle’s Design?
    </h2>

    <div>
      <Star items={items} />
    </div>
  </div>
</div>
