<div class="my-10 md:my-20">
  <div class="text-heading text-primary container font-bold">
    Tech Behind the Design
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 h-auto mt-8 container p-4"
  >
    <div class="border-2 border-primary">
      <h1 class="text-primary text-subbody font-medium text-center mt-15">
        Design Tool
      </h1>
      <div class="flex justify-center mt-13 pb-19">
        <img src="/assets/figma.svg" alt="" />
        <img src="/assets/xd.svg" alt="" />
        <img src="/assets/sketch.svg" alt="" />
      </div>
    </div>
    <div class="border-2 border-primary">
      <h1 class="text-primary text-subbody font-medium text-center mt-15">
        Prototyping & Handoff
      </h1>
      <div class="flex justify-center mt-13 pb-19">
        <img src="/assets/zeplin.svg" alt="" />
        <img src="/assets/in.svg" alt="" />
      </div>
    </div>
    <div class="border-2 border-primary">
      <h1 class="text-primary text-subbody font-medium text-center mt-15">
        Cross-Platform Expertise
      </h1>
      <div class="mt-8 p-5 flex justify-center items-center flex-col">
        <p
          class="border border-primary text-primary min-h-[43px] max-w-[185px] min-w-[184px] rounded-full text-base md:text-lg text-center pt-2 mt-2 self-start"
        >
          Web
        </p>
        <p
          class="border border-primary text-primary min-h-[43px] max-w-[185px] min-w-[184px] text-base md:text-lg rounded-full text-center mt-2 pt-2 self-center"
        >
          Native mobile
        </p>
        <p
          class="border border-primary min-h-[43px] text-primary text-base md:text-lg max-w-[185px] min-w-[184px] rounded-full mt-2 text-center pt-2 self-end"
        >
          Tablet interfaces
        </p>
      </div>
    </div>
  </div>
</div>
