---
// Define the card data
const cards = [
  {
    number: "01",
    title: "Discover the Journey",
    subtitle: "Research & Strategy",
    description:
      "Every design begins with understanding your state—their behaviors, pain points, and motivations.",
  },
  {
    number: "02",
    title: "The Blueprint",
    subtitle: "Wireframes & Interaction Mapping",
    description:
      "We map out intuitive user journeys through wireframes that visualize functionality with clarity.",
  },
  {
    number: "03",
    title: "Crafting the Canvas",
    subtitle: "Visual Design & Branding",
    description:
      "Designs that not only look stunning but create emotional connections with users through thoughtful branding.",
  },
  {
    number: "04",
    title: "Reality Check",
    subtitle: "Prototypes & User Testing",
    description:
      "Bringing designs to life with interactive prototypes and refining them through real-world user feedback.",
  },
];
---

<!-- grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 -->
<div
  class="xl:h-[545px] lg:h-[745px] grid lg:grid-cols-4 grid-cols-1 md:grid-cols-2 p-4 gap-4 container xl:mt-40 md:mt-20 mt-10"
>
  {
    cards.map((card, index) => (
      <div class={index % 2 === 0 ? "self-start" : "self-end"}>
        <div class="xl:min-h-[455px] border-2 border-white rounded-lg p-6  flex flex-col items-center gap-4">
          <h1 class="text-white text-heading font-extrabold">{card.number}</h1>
          <h2 class="text-primary text-subbody font-extrabold mt-3">
            {card.title}
          </h2>
          <h3 class="text-primary lg:text-[32px] text-lg font-medium pr-5 pl-5 text-center">
            {card.subtitle}
          </h3>
          <p class="text-subheading text-center text-[#B0B0B0] mt-3">
            {card.description}
          </p>
        </div>
      </div>
    ))
  }
</div>
