---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";
import ecommerce from "../../../../assets/images/service/UI/ecommerce.png";
import enterprise from "../../../../assets/images/service/UI/enterprise.png";
import healthcare from "../../../../assets/images/service/UI/healthcare.png";

const cardData = [
  {
    image: ecommerce,
    heading: "E-commerce – Immersive Shopping Journeys",
    description:
      "Reinvented the user journey for an online retailer, increasing conversion rates by simplifying navigation",
  },
  {
    image: healthcare,
    heading: "Healthcare – Simplified Digital Patient Experiences",
    description:
      "Implemented CI/CD pipelines for a teDesigned an intuitive health portal for seamless appointment booking and patient communication",
  },
  {
    image: enterprise,
    heading: "Enterprise – Data-Rich Dashboards Made Simple",
    description:
      "Created clean and efficient analytics dashboards for enterprise users, making data-driven decisions easier",
  },
];
---

<div class="my-10 md:my-20">
  <div class="text-heading text-primary container font-bold">
    What We've Built
  </div>
  <div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 mx-auto lg:gap-12 gap-5 mt-12 container"
    >
      {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
    </div>
  </div>
</div>
