---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/ui1.svg",
    heading: "E-commerce – Immersive Shopping Journeys",
    description:
      "Reinvented the user journey for an online retailer, increasing conversion rates by simplifying navigation",
  },
  {
    image: "/assets/ui2.svg",
    heading: "Healthcare – Simplified Digital Patient Experiences",
    description:
      "Implemented CI/CD pipelines for a teDesigned an intuitive health portal for seamless appointment booking and patient communication",
  },
  {
    image: "/assets/ui3.svg",
    heading: "Enterprise – Data-Rich Dashboards Made Simple",
    description:
      "Created clean and efficient analytics dashboards for enterprise users, making data-driven decisions easier",
  },
];
---

<div
  class="text-heading text-primary container font-bold  mt-8 md:mt-20 lg:mt-40 px-5"
>
  What We've Built
</div>
<div>
  <div
    class="grid  grid-cols-1 md:grid-cols-2 mx-auto lg:gap-12 gap-5 mt-12 container px-5 md:px-5"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
