@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');





@import "tailwindcss";
@config "../../tailwind.cofig.mjs";


@theme {
    --font-manrope: "Manrope", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-sora: "Sora", sans-serif;
    --color-primary: #E2E2E2;
    --color-secondary: #B0B0B0;
    --color-background: #252525;
    --color-btnprimary: #15AED5;
}

body {
    @apply bg-background text-primary font-dm-sans;
}

.text-title{
    @apply text-4xl lg:text-8xl ;

}
.text-title-body{
     @apply text-xl lg:text-[26.6px] ;
}
.text-subtitle{
    @apply text-xl lg:text-3xl ;

}
.text-subbody{
    @apply text-xl lg:text-[34px] ;

}

.text-heading {
  @apply text-2xl  lg:text-4xl xl:text-[48px] font-dm-sans;
}
.text-centerheading {
  @apply text-2xl  lg:text-4xl xl:text-[55px] font-dm-sans;
}


.text-subheading {
  @apply text-lg  lg:text-xl xl:text-2xl;
}
.text-body{
@apply text-lg  lg:text-xl
}