@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');





@import "tailwindcss";
@tailwind utilities; 


@layer utilities {
  .text-primary {
    @apply text-[#E2E2E2];
  }

  .text-secondary {
    @apply text-[#B0B0B0];
  }
}


@theme {
    --font-manrope: "Manrope", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-sora: "Sora", sans-serif;
}

body {
    @apply bg-[#252525] text-[#f5f5f5] font-dm-sans;
}
body {
  /* scrollbar-width: none; For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer/Edge */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.text-heading {
  @apply text-2xl lg:text-5xl font-dm-sans;
}

.text-subheading {
  @apply text-base md:text-2xl lg:text-4xl ;
}
.card-inside{
@apply text-base  lg:text-2xl
}
.text-title{
    @apply text-4xl lg:text-8xl ;

}
.text-subtitle{
    @apply text-xl lg:text-3xl ;

}