---
// index.astro or your desired page
import AiCard from "@/components/DynamicProps/AiCard.astro";

const GenAiSectionThreeMap = [
  {
    image: "/assets/secthree1.png",
    title: "Healthcare: AI Summarization for Patient Reports",
    description:
      "Our AI-powered solution for a leading healthcare provider processes vast amounts of patient data to generate concise, accurate summaries of health reports. This reduced manual work by 50% and allowed doctors to focus on patient care",
  },
  {
    image: "/assets/secthree2.png",
    title: "Generative AI in Manufacturing Design",
    description:
      "We implemented a generative AI model for a large automotive manufacturer to automatically create design iterations of new vehicle models. This sped up the prototyping phase by 35%, resulting in faster time-to-market for new productsh",
  },
];
---

<div class="space-y-1 lg:space-y-6 md:space-y-3 lg:mt-40 mt-15 px-5 container">
 
    
    <div
    class="text-primary font-bold text-heading container px-5 md:px-0 mt-20 md:mt-28 lg:mt-46 xl:mt-45"
    >
    AI Solutions Across Industries
    <p class="text-secondary mt-4 text-subheading max-w-[1205px] font-medium">
        Innovate faster with new capabilities, a choice of industry-leading FMs, and
        infrastructure that delivers high performance while lowering costs.
    </p>
</div>

<div
class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container px-5 md:px-0"
>
{GenAiSectionThreeMap.map((card, index) => <AiCard key={index} {...card} />)}
</div>

</div>