---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Scalability",
    description:
      "Generative AI allows businesses to produce content and solutions at a scale never before possible, meeting growing demands without increasing manual efforts.",
  },
  {
    title: "Personalization",
    description:
      "AI can tailor content and solutions to individual user needs, increasing engagement, loyalty, and satisfaction",
  },
  {
    title: "Efficiency",
    description:
      " Automating tasks that previously required hours of human work—whether it's writing, designing, or analyzing data—allows businesses to save time and reduce operational costs.",
  },
  
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2
      class="text-3xl font-medium mb-6 md:text-4xl lg:text-[54px] text-primary"
    >
      Why Generative AI is a Game Changer
    </h2>

    <div>
      <Star items={items} />
    </div>
  </div>
</div>
