---
import AiCard from "../DynamicProps/AiCard.astro";
import Healthcare from "@/assets/images/AIsolution/secthree1.png";
import Retail from "@/assets/images/AIsolution/secthree2.png";
import Manufacturing from "@/assets/images/AIsolution/secthree3.png";
import Airports from "@/assets/images/AIsolution/secthree4.png";

const AiSectionThreeMap = [
  {
    image: Healthcare,
    title: "Healthcare",
    description:
      "Revolutionizing patient care with AI-driven diagnostics, personalized treatments, and operational automation",
  },
  {
    image: Retail,
    title: "Retail",
    description:
      "Enhancing inventory management, customer personalization, and supply chain optimization using AI technologies",
  },
  {
    image: Manufacturing,
    title: "Manufacturing",
    description:
      "Improving predictive maintenance, production optimization, and quality control with AI-driven analytics",
  },
  {
    image: Airports,
    title: "Aviation/Airports",
    description:
      "Streamlining airport operations, enhancing safety, and optimizing passenger experiences through predictive analytics, computer vision, and AI-driven automation",
  },
];
---

<div class="text-primary font-bold text-heading my-10 md:my-20">
  AI Solutions Across Industries
  <p
    class="text-secondary mt-5 md:mt-10 text-subheading max-w-[1205px] font-medium my-5 md:my-10"
  >
    Innovate faster with new capabilities, a choice of industry-leading FMs, and
    infrastructure that delivers high performance while lowering costs.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5">
    {AiSectionThreeMap.map((card, index) => <AiCard key={index} {...card} />)}
  </div>
</div>
