<div
  class="space-y-1 lg:space-y-6 md:space-y-3 lg:mt-20 md:mt:20 mt-15 px-5 container md:px-0"
>
  <div class="flex  justify-between items-center mb-8">
    <div class="py-3">
      <h2 class="text-heading text-primary md:mb-4 mb-2 font-bold">AI Blogs</h2>
      <p
        class="text-subheading md:space-y-4 space-y-1 text-secondary font-medium"
      >
        Don't take our word for it. Trust our customers
      </p>
    </div>
    <button
      class="bg-[#15AED5] hover:bg-[#4f7881] text-white font-bold md:py-2 md:px-6 py-0 px-3 rounded-full xl:h-screen w-full  xl:max-h-[46px] min-h-[36px] max-w-[130px] xl:max-w-[168px] "
      >Browse all</button
    >
  </div>

  <div class="grid md:grid-cols-3 gap-6">
    <!-- Blog Card 1 -->
    <div class="text-white rounded-lg overflow-hidden">
      <img
        src="/public/assets/Aiblogs1.png"
        alt="Blog Image"
        class="w-full h-auto"
      />
      <div class="p-2 mt-2">
        <h3 class="text-subtitle font-medium text-primary">
          Introducing the Webflow <br /> Boosters App
        </h3>
        <p class="text-secondary font-medium text-body mt-2">
          Advanced code solutions added directly inside of Webflow at the click
          of a button.
        </p>
      </div>
    </div>

    <!-- Blog Card 2 -->
    <div class="text-white rounded-lg overflow-hidden">
      <img
        src="/public/assets/Aiblogs2.png"
        alt="Blog Image"
        class="w-full h-auto"
      />
      <div class="p-2 mt-2">
        <h3 class="text-subtitle font-medium text-primary">
          Top 20 UI Inspiration Sites <br />(2023)
        </h3>
        <p class="text-secondary font-medium text-body mt-2">
          We've collated the top 20 UI inspiration sites, all with links in one
          handy spot!
        </p>
      </div>
    </div>

    <!-- Blog Card 3 -->
    <div class="text-white rounded-lg overflow-hidden">
      <img src="/public/assets/Aiblogs3.png" alt="Blog Image" class="w-full" />
      <div class="p-2 mt-2">
        <h3 class="text-subtitle font-medium text-primary">
          How to add a countdown <br />timer to Framer
        </h3>
        <p class="text-secondary font-medium text-body mt-2">
          Learn how to add a beautiful countdown to your Framer project in
          seconds.
        </p>
      </div>
    </div>
  </div>
</div>
