---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-20 lg:mt-22 ">
  <div
    class="flex flex-col justify-center items-center text-center lg:h-screen px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container"
  >
    <GradientHeading
      text="  AI-Powered Solutions for Transforming Your Business"
    />
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Unlock the potential of artificial intelligence to drive innovation,
      optimize operations, and enhance customer experiences
    </p>
    <button
      class="mt-6 bg-[#15AED5] text-white text-base md:text-lg lg:text-xl font-medium px-4 py-2 md:px-6 md:py-3 lg:px-20 lg:py-2 rounded-full flex items-center gap-2"
    >
      Discover Our AI Solutions
      <img
        src="/assets/arrowright.png"
        alt="Right Arrow"
        class="w-4 h-4 md:w-5 md:h-5 lg:w-4 lg:h-4"
      />
    </button>
    <h1
      class="text-heading text-primary font-dmSans font-semibold
          md:py-1.5 lg:py-1.5 xl:pt-8 pt-3 md:pt-3"
    >
      Empowering Enterprises with AI
    </h1>
    <p class="text-secondary mt-4 text-subbody font-normal max-w-[1698px] pb-10 
    
    ">
      At Spritle, we specialize in providing AI-driven solutions that deliver
      measurable results for enterprises across industries. Our team of experts
      works alongside your business to implement tailored AI strategies that
      drive operational efficiency, scalability, and growth
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
