---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
import Button from "@/components/common/button.astro";
---

<div class="my-5 md:my-19">
  <div
    class="flex flex-col items-center text-center px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background"
  >
    <GradientHeading
      text="  AI-Powered Solutions for Transforming Your Business"
    />
    <!-- <h1
    class=" font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p
      class="font-normal mt-4 text-title-body text-gradientbody max-w-[1000px]"
    >
      Unlock the potential of artificial intelligence to drive innovation,
      optimize operations, and enhance customer experiences
    </p>
    <Button
      text="Discover Our AI Solutions"
      arrow={true}
      className="!py-2 !px-5 sm:!px-10 text-subheading h-fit tracking-wider     "
      type="link"
      href="#"
    />

    <h1
      class="text-heading text-primary font-semibold
          md:py-1.5 lg:py-1.5 xl:pt-8 pt-3 md:pt-3"
    >
      Empowering Enterprises with AI
    </h1>
    <p class="text-secondary text-subbody font-normal max-w-[1698px]">
      At Spritle, we specialize in providing AI-driven solutions that deliver
      measurable results for enterprises across industries. Our team of experts
      works alongside your business to implement tailored AI strategies that
      drive operational efficiency, scalability, and growth
    </p>
  </div>
</div>
