<div class="bg-background px-5 container md:px-0 mt-1">
  <div class="text-heading text-primary md:mb-10 mb-2 font-medium">
    Our Core AI Competencies
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-6 gap-x-6 xl:gap-y-12 xl-gap-x-0 md:mt-14"
    id="cardContainer"
  >
  </div>
</div>
<script>
  const cards = [
    {
      logo: "/assets/ailogo1.png",
      title: "Generative AI",
      description:
        "Developing AI models that create content, generate new ideas, and enhance innovation across various sectors",
    },
    {
      logo: "/assets/ailogo2.png",
      title: "Vision AI",
      description:
        "Leveraging machine learning to uncover hidden insights, enhance decision-making, and automate critical processes",
    },
    {
      logo: "/assets/ailogo3.png",
      title: "Machine Learning",
      description:
        "Harnessing NLP to process, analyze, and generate human-like text for applications in customer support, content generation, and more",
    },
    {
      logo: "/assets/ailogo4.png",
      title: "Predictive analytics",
      description:
        "Empowering businesses with predictive insights to forecast trends, optimize resources, and make data-driven decisions",
    },
    {
      logo: "/assets/ailogo5.png",
      title: "Natural language Processing",
      description:
        "Implementing computer vision for image and video analysis that can drive automation and enhance customer experiences  ",
    },
  ];

  const cardContainer = document.getElementById("cardContainer");

  cardContainer.innerHTML = cards
    .map(
      (card) => `
      <div class="flex flex-col items-center justify-around text-center border-2 border-primary p-6 xl:pt-0 rounded-lg shadow-lg bg-[#313131] xl:h-[400px] w-full  xl:max-w-[550px] flex-wrap">

<div class="flex  flex-col  justify-center items-center gap-4">

        <img src="${card.logo}" alt="${card.title}" class="size-16 " />
        <h2 class="text-primary text-subtitle font-medium">${card.title}</h2>
</div>

        <p class="text-secondary text-subheading ">${card.description}</p>

      </div>
    `
    )
    .join("");
</script>
