---
import u1 from "../../assets/icons/casestudy/u1.svg";
import u2 from "../../assets/icons/casestudy/u2.svg";
import u3 from "../../assets/icons/casestudy/u3.svg";
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";


const cards = [
  {
    logo: u1,
    title: "Generative AI",
    description:
      "Developing AI models that create content, generate new ideas, and enhance innovation across various sectors",
  },
  {
    logo: u2,
    title: "Vision AI",
    description:
      "Leveraging machine learning to uncover hidden insights, enhance decision-making, and automate critical processes",
  },
  {
    logo: u3,
    title: "Machine Learning",
    description:
      "Harnessing NLP to process, analyze, and generate human-like text for applications in customer support, content generation, and more",
  },
  {
    logo: u1,
    title: "Predictive analytics",
    description:
      "Empowering businesses with predictive insights to forecast trends, optimize resources, and make data-driven decisions",
  },
  {
    logo: u2,
    title: "Natural Language Processing",
    description:
      "Implementing computer vision for image and video analysis that can drive automation and enhance customer experiences",
  },
];
---

<div class="my-10 md:my-20">
  <div class="text-heading text-primary md:mb-10 mb-5 font-medium">
    Our Core AI Competencies
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-10 "
  >
    {
      cards.map((card) => (
        <UniqueValueCard
          title={card.title}
          description={card.description}
          logo={card.logo}
        />
      ))
    }
  </div>
</div>
