<div
  class="flex flex-col justify-center items-center text-center h-screen  md:max-h-[666px] max-h-[400px] px-4 space-y-5 bg-[#313131]  mt-5 lg:mt-20 "
>
  <h1
    class="font-dmSans font-normal inline-block
            text-title"
    style="background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0.3) 100%); 
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;"
  >
    Ready to Unlock the Power of <br />AI for Your Business
  </h1>
  <p class="font-normal mt-4 text-subbody text-p rimary max-w-[1000px]">
    Let’s discuss how we can help your organization thrive in the age of
    artificial intelligence
  </p>
  <button
    class="mt-6 bg-[#15AED5] text-white text-base md:text-lg lg:text-xl font-medium px-4 py-2 md:px-6 md:py-3 lg:px-8 lg:py-4 rounded-full flex items-center gap-2"
  >
    <img
      src="/assets/staricon.png"
      alt="Right Arrow"
      class="w-4 h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
    /> Contact Us
  </button>
</div>
