---
import Star from "../DynamicProps/Star.astro";


const items = [
  {
    title: "End-to-End Expertise",
    description:
      "From strategy to deployment, Spritle's team covers every step of the AI lifecycle.",
  },
  {
    title: "Proven Track Record",
    description:
      "We've successfully delivered AI solutions for top-tier enterprises, yielding significant business results.",
  },
  {
    title: "Scalable Solutions",
    description:
      "Our solutions are designed to scale with your business, ensuring long-term success.",
  },
  {
    title: "Collaboration & Customization",
    description:
      "We work closely with your team to develop AI strategies tailored to your unique business needs.",
  },
];

---

<div class=" my-10 md:my-20">
  <div class=" flex justify-center items-center flex-col">
    <h2
      class="text-centerheading font-medium md:mb-10   mb-5 text-primary"
    >
      Why Spritle for AI Solutions
    </h2>
    <h3 class="text-xl -semibold  md:mb-10 mb-5 md:text-3xl lg:text-[44px] font-medium">
      Why Choose Spritle for Your AI Journey?
    </h3>

    <div>
      <Star items={items}  />
    </div>
  </div>
</div>
