<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2
      class="text-3xl font-medium mb-6 md:text-4xl lg:text-[54px] text-primary"
    >
      Why Spritle for AI Solutions
    </h2>
    <h3 class="text-xl -semibold mb-6 md:text-3xl lg:text-[44px] font-medium">
      Why Choose Spritle for Your AI Journey?
    </h3>

    <ul class="h-full w-full max-w-[1212px] py-3 md:py-8">
      <li class="flex items-start mb-0 md:mb-12">
        <div class="mr-4">
          <img
            src="/assets/logosec5.png"
            alt="Logo"
            class="w-full h-full min-h-[42px] min-w-[42px] max-h-[84px] max-w-[84px] object-cover mt-3 md:mt-0"
          />
        </div>
        <div class="mt-3">
          <h4 class="font-medium font-primary text-subbody">
            End-to-End Expertise: <span
              class="md:text-[28px] text-base font-medium text-secondary"
            >
              From strategy to deployment, Spritle's team covers every step of
              the AI lifecycle.</span
            >
          </h4>
        </div>
      </li>

      <li class="flex items-start mb-0 md:mb-12">
        <div class="mr-4">
          <img
            src="/assets/logosec5.png"
            alt="Logo"
            class="w-full h-full min-h-[42px] min-w-[42px] max-h-[84px] max-w-[84px] object-cover mt-3 md:mt-0"
          />
        </div>
        <div class="mt-3">
          <h4 class="font-medium font-primary text-subbody">
            Proven Track Record: <span
              class="md:text-[28px] text-base font-medium text-secondary"
            >
              We've successfully delivered AI solutions for top-tier
              enterprises, yielding significant business results.</span
            >
          </h4>
        </div>
      </li>

      <li class="flex items-start mb-4 md:mb-12">
        <div class="mr-4">
          <img
            src="/assets/logosec5.png"
            alt="Logo"
            class="w-full h-full min-h-[42px] min-w-[42px] max-h-[84px] max-w-[84px] object-cover mt-3 md:mt-0"
          />
        </div>
        <div class="mt-3">
          <h4 class="font-medium font-primary text-subbody">
            Scalable Solutions: <span
              class="md:text-[28px] text-base font-medium text-secondary"
            >
              Our solutions are designed to scale with your business, ensuring
              long-term success.</span
            >
          </h4>
        </div>
      </li>

      <li class="flex items-start mb-4 md:mb-12">
        <div class="mr-4">
          <img
            src="/assets/logosec5.png"
            alt="Logo"
            class="w-full h-full min-h-[42px] min-w-[42px] max-h-[84px] max-w-[84px] object-cover mt-3 md:mt-0"
          />
        </div>
        <div class="mt-3">
          <h4 class="font-medium font-primary text-subbody">
            Collaboration & Customization: <span
              class="md:text-[28px] text-base font-medium text-secondary"
            >
              We work closely with your team to develop AI strategies tailored
              to your unique business needs.</span
            >
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
