---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Mobile and Web Access",
    description:
      " Our solution integrates directly with the ManageEngine ecosystem, providing a smooth, cohesive experience for CAG’s operational teams.Accessible via both web and mobile apps, built on a modern, scalable tech stack (React.js, Flutter, Node.js, MongoDB, AWS).",
  },
  {
    title: "Real-time Updates",
    description:
      "Powered by WebSocket and Firebase, ensuring users stay informed on the latest event updates.",
  },
  {
    title: "User-friendly Interface ",
    description:
      "  Predictive analytics powered by machine learning allows the team to proactively manage faults, reducing downtime and improving service response times.   Designed with accessibility in mind, making it easy for users of all levels to navigate and interact with the platform.   ",
  },
  {
    title: "Data Analytics",
    description:
      " Integrated with Google Analytics and New Relic for performance tracking and user behavior analysis.  ",
  },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-6 text-primary">
Key Benefits
    </h2>

    <div>
      <Star items={items} maxWidth="1450px" />
    </div>
  </div>
</div>
