<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Our Solution</h3>
  <div class="items-center justify-center flex">
    <p
      class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
    >
      Spritle’s platform addresses these pain points by offering a comprehensive
      suite of tools, including:
    </p>
    </div>
    
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-20 container px-5 md:px-0 text-white p-6 mt-5 md:mt-10 lg:mt-20"
  >
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Meet Creation & Management
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        Tools for seamless creation, scheduling, and management of both timed
        and untimed events
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Real-time Notifications
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        Instant alerts for delays, cancellations, or rescheduling, ensuring
        effective communication with all stakeholders.
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">User Engagement</h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        Dedicated apps for coaches, athletes, and spectators, enhancing
        interaction and event experience.
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Crowd-based Responses
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        Leveraging input from event attendees to better organize untimed events.
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Centralized Website
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        A robust website to track, manage, and view meet results, improving
        transparency and user experience.
      </p>
    </div>
  </div>
</div>
