---
import CaseStudyHero from "@/components/DynamicProps/CaseStudyHero.astro";
---

<CaseStudyHero
  imageUrl="/assets/cs3.png"
  text="A Platform for Managing and Coordinating Every Sports Meet Across the USA"
  class=""
/>

<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Overview</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
  >
    Spritle offers an all-in-one sports meet management platform designed to
    streamline and automate the process of organizing both timed and untimed
    sports events across the USA. This platform caters to timing companies,
    coaches, athletes, and spectators by providing real-time updates, event
    management tools, and seamless user interaction through web and mobile
    interfaces.
  </p>
</div>
