---
import GradientHeading from "../DynamicProps/GradientHeading.astro";
import ScrollCard from "../About/ScrollCard.astro";


---
<div class=" ">

<GradientHeading
  text="Accelerating Innovations For Better Technology Solutions "  maxWidth="max-w-[1230px]"
/>

<div class="container  flex justify-center items-center flex-col ">
  <p
    class="font-normal lg:mt-8 mt-4 text-title-body text-primary max-w-[1020px]"
  >
    A team with a plan never gives up. Below are a few of our masterpieces
    created for the greatest masterminds around the world.
  </p>

  <button
          class="mt-6 btnprimary  lg:w-screen lg:max-w-[194px] max-h-[46px] text-base font-normal px-8 py-4  "
        >
    Get Started
    <img
      src="/assets/arrowright.png"
      alt="Right Arrow"
      class="w-4 h-4 "
    />
  </button>
</div>

<div class="xl:mt-36 mt-8 flex justify-center">
 <img src="/assets/fulls6.svg" alt="">
 
</div>

<ScrollCard/>
</div>