---
import GradientHeading from "../DynamicProps/GradientHeading.astro";
import ScrollCard from "../About/ScrollCard.astro";
import OurProcessSvg from "@/assets/our_process.svg";
import Button from "@/components/common/button.astro";
import executionapproach from "@/assets/images/about/executionapproach.png";
import { Image } from "astro:assets";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
</style>
<div class="">
  <div class="text-center">
    <GradientHeading
      text="Accelerating Innovations For Better Technology Solutions "
      maxWidth="max-w-[1230px]"
    />
  </div>

  <div class="container flex justify-center items-center flex-col text-center">
    <p
      class="font-normal lg:mt-8 mt-4 text-title-body text-primary max-w-[1020px]"
    >
      A team with a plan never gives up. Below are a few of our masterpieces
      created for the greatest masterminds around the world.
    </p>

    <Button
      arrow={true}
      text="Get Started"
      className="my-10 px-20"
      type="link"
      href="#"
    />
  </div>

  <div class="xl:mt-36 mt-8 flex justify-center  h-[calc(100vh-80px)]">
    <Image src={executionapproach} alt="executionapproach" class="h-full w-full"/>
  </div>

  <ScrollCard />
</div>
