<div>
  <div class="min-h-screen flex items-center justify-center mt-10">
    <div class="flex flex-col md:grid grid-cols-9  mx-auto p-2">
      <!-- Timeline Items -->
      <script src="@/lib/scroll_card.js"></script>
    </div>
  </div>
</div>
