---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/dev1.svg",
    heading: "Retail – Cloud Migration for E-commerce Scalability",
    description:
      "Developed a big data solution for precision agriculture, analyzing soil health and weather patterns to optimize crop yield, increasing productivity by 25%",
  },
  {
    image: "/assets/dev2.svg",
    heading: "Healthcare – CI/CD Implementation for Telemedicine Platform",
    description:
      "Implemented CI/CD pipelines for a telemedicine provider, accelerating software releases by 50%, ensuring regulatory compliance, and improving system stability.",
  },
  {
    image: "/assets/dev3.svg",
    heading: "Banking – DevSecOps for Cloud Security",
    description:
      "Developed a DevSecOps approach for a financial institution, ensuring compliance with industry standards and reducing cloud security incidents by 25%",
  },
  {
    image: "/assets/dev4.svg",
    heading: "Media – Containerization for Streaming Services",
    description:
      "Enabled containerized microservices for a media streaming company, increasing resource efficiency and ensuring smooth service during traffic spikes",
  },
];
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-40"
>
  Industry Use Cases
</div>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container px-5 md:px-0"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
