---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Expertise in multi-cloud environments and hybrid cloud setups.",
  },
  {
    title:
      "Automated, efficient workflows using CI/CD, IaC, and containerization.",
  },
  {
    title:
      "Proven track record in enhancing scalability, reducing downtime, and improving deployment speed",
  },
  {
    title:
      "End-to-end cloud and DevOps services, from consulting to implementation and monitoring",
  },
];
---

<div class="my-10 md:my-20">
  <div class="container  flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-8 text-primary">
      Why Spritle for Cloud & DevOps Solutions
    </h2>

    <div>
      <Star items={items} />
    </div>
  </div>
</div>
