---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container md:px-0 px-5"
  >
    <GradientHeading
      text="Cloud & DevOps Solutions for Scalable, Secure Operations"
    />
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Accelerate innovation with seamless cloud infrastructure and automated
      DevOps practices
    </p>
    <BtnBig
      text="Explore Cloud & DevOps Services"
      icon="/assets/rightarrow.svg"
      class="lg:px-9 px-2"
    />
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Transform Your Infrastructure with Cloud & DevOps Expertise
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Spritle offers comprehensive cloud and DevOps solutions, ensuring your
      business can scale efficiently, deploy faster, and stay secure in a
      fast-changing digital landscape
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
