---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Expertise in multi-cloud environments and hybrid cloud setups.",
  },
  {
    title:
      "Automated, efficient workflows using CI/CD, IaC, and containerization.",
  },
  {
    title:
      "Proven track record in enhancing scalability, reducing downtime, and improving deployment speed",
  },
  {
    title:
      "End-to-end cloud and DevOps services, from consulting to implementation and monitoring",
  },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2
      class="text-3xl font-medium mb-6 md:text-4xl lg:text-[54px] text-primary"
    >
      Why Spritle for Cloud & DevOps Solutions
    </h2>

    <div>
      <Star items={items} />
    </div>
  </div>
</div>
