---
// index.astro or your desired page
import AiCard from "@/components/DynamicProps/AiCard.astro";

const GenAiSectionThreeMap = [
  {
    image: "/assets/secthree1.png",
    title: "AI-Powered Quality Control in Manufacturing",
    description:
      "We developed an AI vision system for a leading electronics manufacturer to detect defects on the assembly line. The system improved inspection accuracy by 98% and reduced production errors, saving time and costs.",
  },
  {
    image: "/assets/secthree2.png",
    title: "Healthcare: Automated Medical Image Analysis",
    description:
      "Our Vision AI solution helps radiologists analyze medical scans for early detection of anomalies. It reduced manual workload by 40%, while increasing diagnostic precision and ensuring better patient outcomes. ",
  },
  {
    image: "/assets/secthree2.png",
    title: "AI-Driven Retail Analytics",
    description:
      "For a major retail chain, we implemented a Vision AI system to analyze in-store customer behavior. This provided insights into foot traffic, product placement effectiveness, and inventory levels, leading to a 20% increase in sales",
  },
];
---

<div
  class="space-y-1 lg:space-y-6 md:space-y-3 my-10 md:my-20 container "
>
  <div
    class="text-primary font-bold text-heading "
  >
    AI Solutions Across Industries
    <p class="text-secondary mt-4 text-subheading max-w-[1205px] font-medium">
      Innovate faster with new capabilities, a choice of industry-leading FMs,
      and infrastructure that delivers high performance while lowering costs.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12">
    {
      GenAiSectionThreeMap.map((card, index) => (
        <AiCard key={index} {...card} />
      ))
    }
  </div>
</div>
