---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container"
  >
    <GradientHeading text="Unlock the Power of Vision AI for Your Business" />
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      AI-Powered Image and Video Analysis for Unparalleled Insights
    </p>
    <BtnBig
      text="Discover Our AI Solutions"
      icon="/assets/rightarrow.svg"
      class="px-9"
    />
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      What is Vision AI ?
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Vision AI is a cutting-edge technology that allows machines to understand
      and interpret visual data—images, videos, and real-world objects—at a
      level previously achievable only by humans. By automating tasks such as
      image recognition, object detection, and visual inspection, Vision AI can
      transform industries like manufacturing, healthcare, retail, and more.
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
