---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
import u1 from "../../../../assets/icons/casestudy/u1.svg";
import u2 from "../../../../assets/icons/casestudy/u2.svg";
import u3 from "../../../../assets/icons/casestudy/u3.svg";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container my-10 md:my-20"
>
  Solutions We Offer
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6 container"
>
  <UniqueValueCard
    logo={u1}
    title="AI-Driven Object Detection & Tracking"
    description="Automatically detect and track objects in images or videos, ideal for applications in retail, surveillance, autonomous vehicles, and more."
  />
  <UniqueValueCard
    logo={u2}
    title="Visual Quality Control & Defect Detection"
    description="Our AI models identify defects and irregularities in manufacturing processes, ensuring high-quality standards with reduced reliance on manual inspection."
  />
  <UniqueValueCard
    logo={u3}
    title="AI-Powered Healthcare Imaging Solutions"
    description="Enhance diagnostic accuracy by using Vision AI to analyze X-rays, MRIs, and other medical images, supporting faster and more accurate diagnoses"
  />
  <UniqueValueCard
    logo={u3}
    title="Video Analytics for Surveillance & Security"
    description="Automate the analysis of live or recorded video footage for applications like security monitoring, anomaly detection, and traffic analysis"
  />
</div>
