---
import WhoWeAre from "@/components/About/WhoWeAre.astro";

import Layout from "../layouts/Layout.astro";
import Test from "@/components/About/Test.astro";
---

<Layout >
<div class="container">
  <WhoWeAre />
</div>
</Layout>
