---
import WhoWeAre from "@/components/About/WhoWeAre.astro";
import Layout from "../layouts/Layout.astro";
import Ourprocess from "@/components/About/Ourprocess.astro";
---

<Layout title="About Us | Spritle Software">
  <main class="container py-10">
    <nav
      class="flex my-20 justify-center"
      role="tablist"
      aria-label="About Us Sections"
    >
      <button
        id="tab-whoWeAre"
        role="tab"
        aria-selected="true"
        aria-controls="panel-whoWeAre"
        tabindex="0"
        data-hash="who-we-are"
        class={`rounded-l-full px-5 py-2 cursor-pointer border-2 font-semibold bg-transparent text-body 
                hover:bg-gray-50 hover:text-background hover:border-white
               aria-selected:bg-white aria-selected:text-background aria-selected:border-white `}
      >
        Who We Are
      </button>
      <button
        id="tab-ourProcess"
        role="tab"
        aria-selected="false"
        aria-controls="panel-ourProcess"
        tabindex="-1"
        data-hash="our-process"
        class={`rounded-r-full px-5 py-2 cursor-pointer border-2 font-semibold bg-transparent text-body 
              hover:bg-gray-50 hover:text-background hover:border-white
               aria-selected:bg-white aria-selected:text-background aria-selected:border-white`}
      >
        Our Process
      </button>
    </nav>

    <!-- Tab Panels -->
    <section
      class="about_tab_panel"
      id="panel-whoWeAre"
      role="tabpanel"
      aria-labelledby="tab-whoWeAre"
    >
      <WhoWeAre />
    </section>

    <section
      class="about_tab_panel"
      id="panel-ourProcess"
      role="tabpanel"
      aria-labelledby="tab-ourProcess"
      hidden
    >
      <Ourprocess />
    </section>
  </main>
</Layout>
<script src="@/lib/about_tabs.js"></script>
