---
import AcrossIndustries from "@/components/AIsolution/AcrossIndustries.astro";
import AiHero from "@/components/AIsolution/AiHero.astro";
import AiUpslider from "@/components/AIsolution/AiUpslider.astro";
import OurCoreAi from "@/components/AIsolution/OurCoreAi.astro";
import WhySpritle from "@/components/AIsolution/WhySpritle.astro";
import OurSuccessful from "@/components/AIsolution/OurSuccessful.astro";
import ReadyToUnlock from "@/components/AIsolution/ReadyToUnlock.astro";
import AiBlogs from "@/components/AIsolution/AiBlogs.astro";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spritle AI Solutions">
  <div class="container px-5 md:px-0">
    <AiHero />
    <OurCoreAi />
    <AcrossIndustries />
    <AiUpslider />
    <WhySpritle />
  </div>
  <OurSuccessful />
  <ReadyToUnlock />
  <div class="container px-5 md:px-0">
    <AiBlogs />
  </div>
</Layout>
