---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Contact us">
<div class="mt-20 lg:mt-52">
  <div
    class="flex flex-col justify-center items-center text-center  container space-y-5 mt-10 md:mt-30"
  >
    <GradientHeading
      text=" High-performing remote teams. The future of work."
    />

    <!-- <h1 
    class="
    font-dmSans
    font-normal
    text-title"
    style="background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0.3) 100%); 
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;"
  >
    High-performing remote teams. <br /> The future of work.
  </GradientHeading> -->
    <p class="font-normal md:mt-4 text-title-body text-primary max-w-[1021px]">
      Powerful, self-serve team engagement tools and analytics. Supercharge your
      managers & keep employees engaged from anywhere.
    </p>
  </div>
</div>

<section class="my-10 md:my-20">
  <div class="container space-y-5">
    {/* Contact Us Via Email */}
    <h2 class="text-subbody text-primary font-semibold my-10 md:my-20">
      Contact Us Via Email
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:mb-13 mb-6 rounded-[20px] border-2 border-[#D6D6D6] lg:max-w-[1718px] lg:max-h-[224px] gap-[20px] md:gap-[30px] lg:gap-[50px] p-[20px] md:p-[30px] lg:p-[50px]"
    >
      <div class="max-w-full lg:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          For General Inquiries
        </h3>
        <a
          href="mailto:info@spritle.com"
          class="flex items-center rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full max-w-full lg:max-w-[472.67px]"
        >
          <span class="flex-grow flex items-center text-white font-normal text-body truncate">
            <img src="/assets/contacticon.png" alt="" class="mr-2 flex-shrink-0"/>
            <span class="truncate">info@spritle.com</span>
          </span>

          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 ml-2 flex-shrink-0"
          />
        </a>
      </div>
      <div class="max-w-full md:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          For Business Collaborations
        </h3>
        <a
          href="mailto:partnerships@digitx.com"
          class="flex items-center rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full max-w-full lg:max-w-[472.67px]"
        >
          <span class="flex-grow flex items-center text-white font-normal text-body truncate">
            <img src="/assets/contacticon.png" alt="" class="mr-2 flex-shrink-0"/>
            <span class="truncate">partnerships@digitx.com</span>
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 ml-2 flex-shrink-0"
          />
        </a>
      </div>
      <div class="max-w-full md:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          For Job Opportunities
        </h3>
        <a
          href="mailto:jobs@spritle.com"
          class="flex items-center rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full max-w-full lg:max-w-[472.67px]"
        >
          <span class="flex-grow flex items-center text-white font-normal text-body truncate">
            <img src="/assets/contacticon.png" alt="" class="mr-2 flex-shrink-0" />
            <span class="truncate">jobs@spritle.com</span>
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 ml-2 flex-shrink-0"
          />
        </a>
      </div>
    </div>

    {/* Contact Us By Phone */}
    <h2 class="text-subbody text-primary font-semibold my-10 md:my-20 ">
      Contact Us By Phone
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:mb-13 mb-6 rounded-[20px] border-2 border-[#D6D6D6] lg:max-w-[1718px] lg:max-h-[224px] gap-[20px] md:gap-[30px] lg:gap-[50px] p-[20px] md:p-[30px] lg:p-[50px]"
    >
      <div class="max-w-full lg:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          Ohio, USA
        </h3>
        <a
          href="tel:+16146647677"
          class="flex items-center rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full"
        >
          <span class="flex-grow flex items-center text-white font-normal text-body truncate">
            <img src="/assets/callicon.png" alt="" class="mr-2 flex-shrink-0" />
            <span class="truncate">+1 614 664 7677</span>
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 ml-2 flex-shrink-0"
          />
        </a>
      </div>

      <div class="max-w-full lg:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          Singapore
        </h3>
        <a
          href="tel:+6566525475"
          class="flex items-center rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full"
        >
          <span class="flex-grow flex items-center text-white font-normal text-body truncate">
            <img src="/assets/callicon.png" alt=""  class="mr-2 flex-shrink-0" />
            <span class="truncate">+65 6652 5475</span>
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 ml-2 flex-shrink-0"
          />
        </a>
      </div>

      <div class="max-w-full lg:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          Chennai, India
        </h3>
        <a
          href="tel:+914447843003"
          class="flex items-center rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full"
        >
          <span class="flex-grow flex items-center text-white font-normal text-body truncate">
            <img src="/assets/callicon.png" alt="" class="mr-2 flex-shrink-0"/>
            <span class="truncate">+91 44 4784 3003</span>
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 ml-2 flex-shrink-0"
          />
        </a>
      </div>
    </div>

    {/* Online Inquiry Form */}
    <div class='my-10 md:my-20'>
      <h2 class="text-subbody text-primary font-semibold mb-5">
        Online Inquiry Form
      </h2>
      <p class="xl:mb-13 mb-6 text-[#B0B0B0] font-medium text-subheading">
        Please fill in the following details, and we'll get back to you within 24
        hours.
      </p>
    </div>
    <form
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full max-w-[1718px] min-h-[500px] lg:h-[808px] mx-auto rounded-[20px] border-[2px] border-white p-4 sm:p-8 md:p-12 lg:p-20 gap-4 sm:gap-6 md:gap-8 lg:gap-[50px]"
    >
      <!-- First row -->
      <div class="w-full h-auto lg:h-[120px] mb-4 lg:mb-0">
        <label
          for="firstName"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          First Name
        </label>
        <input
          type="text"
          id="firstName"
          class="h-12 md:h-14 lg:h-[70px] block w-full text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Name"
        />
      </div>
      
      <div class="w-full h-auto lg:h-[120px] mb-4 lg:mb-0">
        <label
          for="lastName"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          Last Name
        </label>
        <input
          type="text"
          id="lastName"
          class="h-12 md:h-14 lg:h-[70px] block w-full text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Name"
        />
      </div>
      
      <div class="w-full h-auto lg:h-[120px] mb-4 lg:mb-0">
        <label
          for="email"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          Email
        </label>
        <input
          type="email"
          id="email"
          class="h-12 md:h-14 lg:h-[70px] block w-full text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Email"
        />
      </div>
      
      <!-- Second row -->
      <div class="w-full h-auto lg:h-[120px] mb-4 lg:mb-0">
        <label
          for="service"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          Select Service
        </label>
        <select
          id="service"
          class="h-12 md:h-14 lg:h-[70px] block w-full text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
        >
          <option>Select your Service</option>
          <option>Service 1</option>
          <option>Service 2</option>
          <option>Service 3</option>
        </select>
      </div>
      
      <div class="w-full h-auto lg:h-[120px] mb-4 lg:mb-0">
        <label
          for="phone"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          Phone Number
        </label>
        <input
          type="tel"
          id="phone"
          class="h-12 md:h-14 lg:h-[70px] block w-full text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Phone Number"
        />
      </div>
      
      <div class="w-full h-auto lg:h-[120px] mb-4 lg:mb-0">
        <label
          for="company"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          Company / Organization Name
        </label>
        <input
          type="text"
          id="company"
          class="h-12 md:h-14 lg:h-[70px] block w-full text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter Name"
        />
      </div>
      
      <!-- Message row -->
      <div class="col-span-1 md:col-span-2 lg:col-span-3 w-full h-auto lg:h-[194px] mb-6 lg:mb-0">
        <label
          for="message"
          class="block text-[#EAEAEA] text-subheading font-medium mb-2 lg:mb-[14px]"
        >
          Message
        </label>
        <textarea
          id="message"
          rows="4"
          class="h-32 md:h-40 lg:h-[153px] block w-full rounded-[20px] border-[#D6D6D6] border shadow-sm focus:border-blue-500 focus:ring-blue-500 text-body text-[#888888] px-4 py-2"
          placeholder="Enter your Message"
        ></textarea>
      </div>
      
      <!-- Button container -->
      <div class="col-span-1 md:col-span-2 lg:col-span-3 flex justify-center items-center mt-2 lg:mt-4">
        <button
          type="submit"
          class="inline-flex items-center justify-center w-full sm:w-auto sm:min-w-[160px] md:w-[200px] lg:w-[234px] h-12 md:h-14 lg:h-[64px] rounded-full lg:rounded-[74px] border border-transparent bg-[#15AED5] px-4 sm:px-5 md:px-6 lg:px-6 py-3 lg:py-[18px] text-sm md:text-base font-semibold text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 gap-1 lg:gap-[6px]"
        >
          Send your inquiry
          <img src="/assets/arrowright.png" alt="arrow" class="w-4 h-4 md:w-5 md:h-5 ml-1" />
        </button>
      </div>
    </form>
    {/* Join Us on Social Media */}
    <div class="mt-12 text-center">
      <h2 class="text-subbody text-white font-semibold mb-4">
        Join Us on Social Media
      </h2>
      <p class="text-subheading font-medium text-[#B0B0B0]">
        Stay updated with our latest projects, industry insights, and company
        news by following us on social media
      </p>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center py-10 md:py-16 lg:py-19 px-4 text-center">
    <div class="flex space-x-4 md:space-x-6 mb-4 md:mb-12 lg:mb-19">
      <a href="" target="_blank">
        <img src="/assets/linkedin.png" alt="LinkedIn" class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 xl:size-[74px]" />
      </a>
      <a href="" target="_blank">
        <img
          src="/assets/instagram.png"
          alt="Instagram"
          class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 xl:size-[74px]"
        />
      </a>
      <a href="" target="_blank">
        <img src="/assets/twitter.png" alt="Twitter" class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 xl:size-[74px]" />
      </a>
    </div>
  </div>
</section>

<div
  class="xl:h-[450px] container border-[#1F1F1F] border-2 flex items-center justify-center rounded-lg flex-col"
>
  <h1 class="font-dm-sans font-semibold md:text-6xl text-4xl md:mb-10 mb-4">
    Thank You !
  </h1>
  <p
    class="font-dm-sans font-medium text-subheading max-w-[1058px] text-[#8C8C8C] text-center"
  >
    For considering DigitX for your digital needs. We look forward to connecting
    with you and being part of your digital success!
  </p>
</div>
</Layout>