---
import "../styles/global.css";

import TextAnimation from "../components/Home/TextAnimation.astro";
import OurClients from "../components/Home/OurClients.astro";
import UpSlider from "../components/Home/UpSlider.astro";
import OurServices from "../components/Home/OurServices.astro";
import IndustriesWeServe from "../components/Home/IndustriesWeServe.astro";
import OurPartners from "../components/Home/OurPartners.astro";
import Blogs from "../components/Home/Blogs.astro";


import Swiper from "../components/Home/Swiper.astro";
import Carousel from "../components/Home/Carousel.astro";
import Customer from "../components/Home/Customer.astro";
import Layout from "@/layouts/Layout.astro";
---

  <div class="pt-18" >
    <Swiper />
  </div>
    <div class="">
      <TextAnimation />
    </div>

  <div class="">
    <Carousel />
  </div>

  <div>
    <OurClients />
  </div>

  <div>
    <UpSlider />
  </div>
  <div class="">
    <div class="">
      <OurServices />
    </div>

    <div class="">
      <IndustriesWeServe />
    </div>

    <div class="">
      <OurPartners />
    </div>

    <div class="">
      <Customer />
    </div>

    <div class="">
      <Blogs />
    </div>
  </div>
