---
import CaseStudyPageContent from "@/components/DynamicProps/CaseStudyPageContent.astro";
import Layout from "../layouts/Layout.astro";

const content = {
  hero_text:
    "How We Helped Nestlé Create Personalized Nutrition Through Genetic Insights",
  hero_image: {
    url: "/assets/cs2.png",
    alt: "How We Helped Nestlé Create Personalized Nutrition Through Genetic Insights",
  },
  overview: {
    title: "Overview",
    description:
      "  Nestlé Health Science, a leader in science-based nutrition, sought to      develop an innovative platform that would allow healthcare practitioners      to provide personalized recommendations for diet, exercise, and      supplements based on patient-specific data. This data included genetic  reports, responses from a smart questionnaire, and lab results uploaded by      patients. The challenge was to seamlessly integrate these data sources      into a single, user-friendly solution that would empower both patients and      practitioners with personalized, actionable health insights.  ",
  },
  problem_statement: {
    title: "Problem Statement",
    description: "Nestlé Health Science aimed to solve the following issues:",
    cards: [
      {
        title: "Limited Reporting in ServiceDesk Plus",
        description:
          "Providing personalized recommendations for diet, exercise, and lifestyle based on patient-specific data.",
        icon: "/assets/unique1.svg",
      },
      {
        title: "Manual Data Processing",
        description:
          "Transforming genetic information into targeted recommendations that practitioners can easily deliver to their patients.",
        icon: "/assets/unique2.svg",
      },
      {
        title: "Difficulty in Integrating Cross-Platform Data",
        description:
          "Creating a seamless experience where patients can purchase recommended supplements directly from the platform.",
        icon: "/assets/unique3.svg",
      },
      {
        title: "Need for Advanced Analytics",
        description:
          "The airport needed advanced, AI-powered analytics for proactive issue identification and trend analysis to drive operational improvement",
        icon: "/assets/unique3.svg",
      },
    ],
  },
  our_solution: {
    description:
      "  Spritle Software partnered with Nestlé Health Science to create a platform      that integrates multiple data sources to offer highly tailored health and      nutritional recommendations for patients. The key components of the      solution include:",
    cards: [
      {
        title: "Patient Report",
        description:
          "        A detailed health insights report generated using data from genetics,        smart questionnaires, and lab results. The report provides personalized       recommendations for diet, lifestyle, and supplements.",
      },
      {
        title: "Genetic Analyzer",
        description:
          "Personalized genomic analysis tools that convert genetic data into        lifestyle and nutritional recommendations.",
      },
      {
        title: "        Smart Questionnaire",
        description:
          "    Patients answer validated questions, resulting in personalized insights        that complement a practitioner’s care plan.",
      },
      {
        title: "        Lab Report Analyzer",
        description:
          "An AI-powered engine that extracts critical data from lab reports and        generates relevant recommendations.",
      },
      {
        title: "                E-commerce Integration",
        description:
          "An Patients can easily purchase supplements recommended by their        practitioners via an integrated e-commerce platform.",
      },
    ],
  },
  key_benefits: {
    title: "Key Benefits",
    cards: [
      {
        title: "Personalized Health Reports",
      },
      {
        title: "Genetic Data Analysis ",
      },
      {
        title: "Smart Questionnaire Insights",
      },
      {
        title: "AI-powered Lab Report Analyzer",
      },
      {
        title: "Integrated E-commerce Platform",
      },
    ],
  },
  conclusion: {
    type: "card", // or "para"
    title: "Results", // or "conclusion"
    description:
      "",
  },
};
const tableData = {
  headers: ["PureInsight Platform", "Pure Patient Direct:"],
  rows: [
    ["Practitioners: 10,000", "Users: 6,000"],
    ["Patients: 70,000", "Patients: 30,000"],
    ["Reports Generated: 100,000+", "Total Orders: 16,962"],
    ["", "Total Gross Sales: $1.6M"],
  ],
};
---

<Layout>
  <CaseStudyPageContent content={content} />
  <div
    class="max-w-[1307px] mt-7 md:mt-15 lg:mt-25 mx-auto rounded-lg border-4 border-white overflow-hidden"
  >
    <!-- Header -->
    <div class="flex w-full border-b-4 border-white">
      {
        tableData.headers.map((header, index) => (
          <div
            class={`w-1/2 text-center p-4 font-medium text-xl lg:text-[44px] ${index === 1 ? "border-l-4 border-white border-solid" : ""}`}
          >
            {header}
          </div>
        ))
      }
    </div>

    <!-- Rows -->
    {
      tableData.rows.map((row, rowIndex) => (
        <div class="flex w-full    border-white last:border-none">
          {row.map((cell, cellIndex) => (
            <div
              class={`w-1/2 flex justify-center items-center text-subbody font-medium p-3 md:p-6 ${cellIndex === 1 ? "border-l-4 border-white border-solid" : ""}`}
            >
              {cell}
            </div>
          ))}
        </div>
      ))
    }
  </div>
</Layout>
