---
import "swiper/css";
import "swiper/css/effect-coverflow";
import nurse from "../../assets/images/home/nurse.png";
import manworking from "../../assets/images/home/manworking.png";
import laptopstats from "../../assets/images/home/laptopstats.png";
import team from "../../assets/images/home/team.png";
import nvidiagoogle from "../../assets/images/home/nvidiagoogle.png";
import devices from "../../assets/images/home/devices.png";

import { Image } from "astro:assets";

const slides = [
  {
    text: "Spritle's Gen AI solutions drive <br class='hidden lg:block'/> operational cost savings for our clients",
    img: nurse,
    alt: "Gen AI",
  },
  {
    text: "We help businesses improve efficiency <br class='hidden lg:block'/> using Vision AI",
    img: manworking,
    alt: "Vision AI",
  },
  {
    text: "Spritle simplifies & accelerates digital <br class='hidden lg:block'/> transformation for your business",
    img: laptopstats,
    alt: "Digital Transformation",
  },
  {
    text: "Empowering innovation, collaboration, <br class='hidden lg:block'/> and growth every day",
    img: team,
    alt: "Transformation",
  },
  {
    text: "We are the official partners of <br class='hidden lg:block'/> Nvidia & Google",
    img: nvidiagoogle,
    alt: "Official Partners",
  },
  {
    text: "With 15+ years of experience, we create custom apps that transform your business",
    img: devices,
    alt: "Custom Apps",
  },
];
---

<section
  class="heroswiper swiper h-[80vh] lg:h-screen"
  role="region"
  aria-label="Hero Slides"
>
  <ul class="hero-swiper swiper-wrapper h-full" role="list">
    {
      slides.map((slide, index) => (
        <li
          class="swiper-slide will-change-transform"
          data-index={index}
          role="listitem"
          tabindex="0"
        >
          <div class="flex flex-col h-full items-center justify-around text-center">
            <h1
              class="
              flex items-center text-center justify-center will-change-[opacity]
              h-[200px] lg:h-auto md:w-[95%]
              text-xl md:text-2xl lg:text-3xl xl:text-4xl 
              opacity-0 slide-text my-5 lg:mb-5
              "
              set:html={slide.text}
            />

            <div class=" mb-10 lg:mb-17 2xl:mb-20 h-full w-full will-change-auto">
              <Image
                decoding={"sync"}
                loading="eager"
                class="slide-image w-full h-full"
                src={slide.img}
                alt={slide.alt}
              />
            </div>
          </div>
        </li>
      ))
    }
  </ul>
  <nav class="flex items-center justify-center">
    <div class="hero-swiper swiper-pagination"></div>
  </nav>
</section>

<script src="@/lib/index_hero.js"></script>
