---
const { link, title, description } = Astro.props;
import RightArrow from "@/assets/icons/rightarrow.svg";
---

<a
  href={link}
  aria-label={title}
  class="flex justify-between border-2 border-primary rounded-xl p-2 p-3 2xl:p-6 shadow-lg
   w-full overflow-hidden group focus:outline-none focus:ring-1 focus:ring-button focus:border-button hover:border-button lg:h-59 xl:h-38  2xl:h-44 "
>
  <div class="flex-1 ">
    <div class="text-subtitle font-medium text-primary">{title}</div>
    <div>
      <p class="text-secondary text-lg font-medium py-3">
        {description}
      </p>
    </div>
  </div>
  <div
    class="flex justify-end border rounded-full h-fit p-2 group-focus:border-button group-focus:bg-button group-hover:bg-button group-hover:border-button transition-[background]"
  >
    <RightArrow class="size-6" />
  </div>
</a>
