---
import IndustriesServiceLink from "./IndustriesServiceLink.astro";
---

<div class="md:my-20 my-10">
  <div class="space-y-1 lg:space-y-10 md:space-y-3">
    <div class="text-heading text-primary font-medium">Industries We Serve</div>
    <p
      class="text-subheading w-100% mt-3 md:mb-25 font-medium max-w-[968px] text-secondary"
    >
      Spritle empowers industries like healthcare, life sciences, aviation,
      manufacturing,eCommerce, transportation, energy, utilities, and CPaaS with
      innovative digital transformation solutions
    </p>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-10 mt-5 overflow-hidden"
  >
    <IndustriesServiceLink
      title="Healthcare"
      description="Empowering healthcare through AI-driven digital transformation"
      link="/"
    />
    <IndustriesServiceLink
      title="Life Sciences"
      description="Accelerating discovery and growth in life sciences through digital transformation"
      link="/"
    />
    <IndustriesServiceLink
      title="Manufacturing"
      description="Optimizing manufacturing processes through digital excellence"
      link="/"
    />
    <IndustriesServiceLink
      title="Education"
      description="Shaping the future of education through digital innovation and personalized learning"
      link="/"
    />
    <IndustriesServiceLink
      title="Aviation"
      description="Transforming aviation with smarter, data-driven solutions"
      link="/"
    />
    <IndustriesServiceLink
      title="Ecommerce"
      description="Revolutionizing eCommerce with data-driven insights and personalized customer journeys"
      link="/"
    />
    <IndustriesServiceLink
      title="Transportation & Logistics"
      description="Transforming transportation and logistics with intelligent automation and data-driven precision."
      link="/"
    />
    <IndustriesServiceLink
      title="Energy & Utilities"
      description="Empowering energy and utilities with smart digital solutions for a sustainable future."
      link="/"
    />
    <IndustriesServiceLink
      title="CPaaS"
      description="Empowering businesses with flexible, data-driven CPaaS solutions for seamless customer engagement."
      link="/"
    />
  </div>
</div>
