---
interface Props {
  link: string;
  title: string;
  description: string;
}

const { link, title, description } = Astro.props;
---

<a
  href={link}
  class="flex justify-between border-2 border-[#D6D6D6] rounded-xl p-5 md:p-6 shadow-lg
   w-full max-h-[171px]  overflow-hidden"
>
  <div class="flex-1">
    <span class="text-subtitle font-medium text-primary break-words"
      >{title}</span
    >
    <p class="text-secondary text-lg font-medium lg:mt-5">
      {description}
    </p>
  </div>
  <div class="flex justify-end">
    <img
      src="../assets/roundarrow.svg"
      alt="Industry Button"
      class=" hover:bg-[#15AED5]  size-12 hover:rounded-full "
    />
  </div>
</a>
