<div class="space-y-1 lg:space-y-6 md:space-y-3 lg:mt-40 md:mt:20 mt-5">
    <div class="text-heading">Our partners</div>
    <p class="text-subheading w-100% mb-1 md:mb-10 max-w-[968px]">
        Spritle Software's partners are the catalysts driving innovation,
        empowering businesses to unlock the full potential of AI and digital
        transformation through collaborative expertise.
    </p>
</div>

<div
    class="w-full flex justify-center items-start h-[25vh] md:h-[30vh] lg-[45vh] md:items-start mt-5 md:mt-0"
>
    <div
        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-5 sm:gap-10 md:gap-16 lg:gap-[39px] w-full max-w-[90%] max-h-[77px] md:pt-10 pt-4"
    >
        <img
            src="../assets/Group (2).png"
            alt="Partner Logo 1"
            class="w-auto object-cover mx-auto size-6 md:size-fit"
        />
        <img
            src="../assets/Layer 2.png"
            alt="Partner Logo 2"
            class="w-auto object-cover mx-auto size-6 md:size-fit"
        />
        <img
            src="../assets/Vector (1).png"
            alt="Partner Logo 3"
            class="w-auto object-cover mx-auto size-9 md:size-fit"
        />
        <img
            src="../assets/Vector (2).png"
            alt="Partner Logo 4"
            class="w-auto object-cover mx-auto size-6 md:size-fit"
        />
        <img
            src="../assets/zoho.png"
            alt="Partner Logo 5"
            class="w-auto object-cover mx-auto size-13 md:size-fit"
        />
        <img
            src="../assets/Layer 2 (1).png"
            alt="Partner Logo 6"
            class="w-auto object-cover mx-auto size-7 md:size-fit"
        />
    </div>
</div>
