<div class="space-y-5 ">
    <div
        class="text-[#E2E2E2] font-dm-sans font-medium text-[24px] xl:text-[48px] font-medium"
    >
        Our partners
    </div>
    <p
        class="text-[#B0B0B0] font-dm-sans text-[14px] xl:text-[24px] leading-[31.25px] w-100% mb-10 font-normal max-w-[968px]"
    >
        Spritle Software's partners are the catalysts driving innovation,
        empowering businesses to unlock the full potential of AI and digital
        transformation through collaborative expertise.
    </p>
</div>

<div class="w-full flex justify-center items-center h-[40vh] lg-[55vh]">
    <div
        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 sm:gap-10 md:gap-16 lg:gap-[39px] w-full max-w-[90%] h-[77px]"
    >
        <img
            src="/assets/Group (2).png"
            alt="Partner Logo 1"
            class="w-auto object-cover mx-auto"
        />
        <img
            src="/assets/Layer 2.png"
            alt="Partner Logo 2"
            class="w-auto object-cover mx-auto"
        />
        <img
            src="/assets/Vector (1).png"
            alt="Partner Logo 3"
            class="w-auto object-cover mx-auto"
        />
        <img
            src="/assets/Vector (2).png"
            alt="Partner Logo 4"
            class="w-auto object-cover mx-auto"
        />
        <img
            src="/assets/zoho.png"
            alt="Partner Logo 5"
            class="w-auto object-cover mx-auto"
        />
        <img
            src="/assets/Layer 2 (1).png"
            alt="Partner Logo 6"
            class="w-auto object-cover mx-auto"
        />
    </div>
</div>
