---
import ServiceLink from "./ServiceLink.astro";
---

<div
  class="space-y-1 lg:space-y-6 md:space-y-3 md:mt:20 mt-15 container md:px-0  px-5"
>
  <div class="max-w-[968px] md:pb-5 pb-4">
    <div class="text-heading mb-0 md:mb-10 text-primary font-medium">
      Our Services
    </div>
    <p class="text-subheading text-secondary font-medium">
      Spritle Software transforms businesses by delivering cutting-edge
      AIsolutions,seamless digital experiences,and data-driven insights that
      fuel growth and operational excellence.
    </p>
  </div> 

  <div class="   md:pt-15">
    <div
      class="grid md:grid-cols-2 grid-cols-1 gap-y-7 md:gap-x-35 md:gap-y-20 text-subbody  font-medium  "
    >
      <ServiceLink text="Gen AI Solution" link="/" />
      <ServiceLink text="Vision AI Solution" link="/" />
      <ServiceLink text="Custom Software Solution" link="/" />
      <ServiceLink text="IT Consulting" link="/" />
      <ServiceLink text="Cloud Solution" link="/" />
      <ServiceLink text="Testing Services" link="/" />
      <ServiceLink text="Data Engineering" link="/" />
      <ServiceLink text="Integration Services" link="/" />
    </div>
  </div>
</div>
