---
import ServiceLink from "./ServiceLink.astro";
---

<div class="space-y-1 lg:space-y-6 md:space-y-3 my-10 md:my-20">
  <div class="max-w-[968px] md:pb-5 pb-4">
    <div class="text-heading mb-3 md:mb-5 text-primary font-medium">
      Our Services
    </div>
    <p class="text-subheading text-secondary font-medium">
      Spritle Software transforms businesses by delivering cutting-edge
      AIsolutions,seamless digital experiences,and data-driven insights that
      fuel growth and operational excellence.
    </p>
  </div>

  <div class="md:pt-15">
    <ul
      class="grid md:grid-cols-2 2xl:grid-cols-3 grid-cols-1 gap-5 md:gap-10 lg:gap-15 xl:gap-20 text-subbody font-medium"
    >
      <ServiceLink text="Gen AI Solution" link="/" />
      <ServiceLink text="Vision AI Solution" link="/" />
      <ServiceLink text="Custom Software Solution" link="/" />
      <ServiceLink text="IT Consulting" link="/" />
      <ServiceLink text="Cloud Solution" link="/" />
      <ServiceLink text="Testing Services" link="/" />
      <ServiceLink text="Data Engineering" link="/" />
      <ServiceLink text="Integration Services" link="/" />
    </ul>
  </div>
</div>
