---
import ServiceLink from "./ServiceLink.astro";
---

<div class="space-y-5 ">
  
  <div
    class="text-[#E2E2E2] font-dm-sans font-medium text-[24px] xl:text-[48px] font-medium "
  >
    Our Services
  </div>
  <p
    class="text-[#B0B0B0] font-dm-sans text-[14px] xl:text-[24px] leading-[31.25px] w-100% mb-10 font-normal max-w-[968px]"
  >
    Spritle Software transforms businesses by delivering cutting-edge
    AIsolutions,seamless digital experiences,and data-driven insights that fuel
    growth and operational excellence.
  </p>
</div>

<div class="m-5">
  <div
    class="grid md:grid-cols-2 grid-cols-1 gap-x-12 gap-y-20 text-[20px] lg:text-[34px]"
  >
    <ServiceLink text="Gen AI Solution" link="/" />
    <ServiceLink text="Vision AI Solution" link="/" />
    <ServiceLink text="Custom Software Solution" link="/" />
    <ServiceLink text="IT Consulting" link="/" />
    <ServiceLink text="Cloud Solution" link="/" />
    <ServiceLink text="Testing Services" link="/" />
    <ServiceLink text="Data Engineering" link="/" />
    <ServiceLink text="Integration Services" link="/" />
  </div>
</div>
