---
const { text, link } = Astro.props;
import RightArrow from "@/assets/icons/rightarrow.svg";
---

<li class="" role="none">
  <a
    href={link}
    class="group flex justify-between items-center group hover:bg-card hover:rounded-primary p-2 border-b border-primary focus:bg-card focus:rounded-primary focus:outline-none transition-[background] duration-300 ease-in-out"
  >
    <span class="">{text}</span>
    <RightArrow
      class="size-6 md:-translate-x-2 group-hover:translate-x-0 group-focus:translate-x-0 transition-[translate] ease-in"
    />
  </a>
  <!-- <hr class="mt-2.5 text-primary" /> -->
</li>
