---
interface Props {
    link: string;
    text: string;
}

const { text, link } = Astro.props;
---

<a href={link} class="flex justify-between items-center border-b lg:mx-0 mx-0 px-3">
    <span class="mb-5">{text}</span>
    <svg
        width="25"
        height="20"
        viewBox="0 0 25 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class=""
    >
        <path
            d="M14.1182 0.911141C14.4374 0.592041 14.8703 0.412781 15.3216 0.412781C15.7729 0.412781 16.2058 0.592041 16.525 0.911141L24.1846 8.57072C24.5037 8.88991 24.6829 9.32278 24.6829 9.77412C24.6829 10.2255 24.5037 10.6583 24.1846 10.9775L16.525 18.6371C16.204 18.9472 15.774 19.1187 15.3277 19.1148C14.8814 19.111 14.4545 18.932 14.1389 18.6164C13.8233 18.3008 13.6443 17.8739 13.6405 17.4276C13.6366 16.9813 13.8081 16.5513 14.1182 16.2303L18.7259 11.4762H2.55564C2.10421 11.4762 1.67127 11.2969 1.35206 10.9777C1.03285 10.6585 0.853516 10.2256 0.853516 9.77412C0.853516 9.32269 1.03285 8.88974 1.35206 8.57053C1.67127 8.25132 2.10421 8.07199 2.55564 8.07199H18.7259L14.1182 3.31795C13.7991 2.99875 13.6198 2.56589 13.6198 2.11454C13.6198 1.6632 13.7991 1.23034 14.1182 0.911141Z"
            fill="#E2E2E2"></path>
    </svg>
</a>
