---
import "swiper/css";
import "swiper/css/effect-coverflow";
import nurse from "../../assets/images/home/nurse.png";
import manworking from "../../assets/images/home/manworking.png";
import laptopstats from "../../assets/images/home/laptopstats.png";
import team from "../../assets/images/home/team.png";
import nvidiagoogle from "../../assets/images/home/nvidiagoogle.png";
import devices from "../../assets/images/home/devices.png";

import { Image } from "astro:assets";

const slides = [
  {
    text: "Spritle's Gen AI solutions drive operational cost savings for our clients",
    img: nurse,
    alt: "Gen AI",
  },
  {
    text: "We help businesses improve efficiency using Vision AI",
    img: manworking,
    alt: "Vision AI",
  },
  {
    text: "Spritle simplifies & accelerates digital transformation for your business",
    img: laptopstats,
    alt: "Digital Transformation",
  },
  {
    text: "Spritle simplifies & accelerates digital transformation for your business",
    img: team,
    alt: "Transformation",
  },
  {
    text: "We are the official partners of Nvidia & Google",
    img: nvidiagoogle,
    alt: "Official Partners",
  },
  {
    text: "With 15+ years of experience, we create custom apps that transform your business",
    img: devices,
    alt: "Custom Apps",
  },
];
---

<section
  class="heroswiper swiper my-10 lg:my-20"
  role="region"
  aria-label="Hero Slides"
>
  <div class="hero-swiper swiper-wrapper" role="list">
    {
      slides.map((slide, index) => (
        <div
          class="swiper-slide focus:outline-2  focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          data-index={index}
          role="listitem"
          tabindex="0"
        >
          <div class="flex flex-col items-center justify-between text-center my-10 lg:my-0">
            <h1 class="slide-text text-xl md:text-3xl lg:text-5xl h-30 lg:h-50 2xl:h-60 flex items-center text-center justify-center w-[95%] transition-all duration-500">
              {slide.text}
            </h1>
            <div class="h-[200px] lg:h-[calc(90vh-250px)] w-full">
            <Image
              class="slide-image w-full h-full transition-all duration-500"
              src={slide.img}  
              alt={slide.alt}
             />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";

  Swiper.use([Autoplay]);

  document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper(".heroswiper", {
      centeredSlides: true,
      grabCursor: false,
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
        waitForTransition: false,
      },
      allowTouchMove: false,
      loop: true,
      breakpoints: {
        320: { slidesPerView: 1.2, spaceBetween: 20 },
        640: { slidesPerView: 1.3, spaceBetween: 10 },
        768: { slidesPerView: 1.3, spaceBetween: 30 },
        1024: { slidesPerView: 1.3, spaceBetween: 50 },
        1280: { slidesPerView: 1.3, spaceBetween: 100 },
        1500: { slidesPerView: 1.3, spaceBetween: 150 },
      },
    });

    function updateSlideStyles() {
      const slides = document.querySelectorAll(".swiper-slide");
      slides.forEach((slide, i) => {
        const img = slide.querySelector(".slide-image");
        const text = slide.querySelector(".slide-text");
        if (!img || !text) return;
        if (i === swiper.activeIndex) {
          img.classList.remove("blur-[2px]", "filter");
          text.classList.remove("opacity-0");
        } else {
          img.classList.add("blur-[2px]", "filter");
          text.classList.add("opacity-0");
        }
      });
    }

    updateSlideStyles();
    swiper.on("slideChange", updateSlideStyles);
  });
</script>
