<style>
  #herobanner {
    position: relative;
    height: 100%;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1457px;
    opacity: 0.5;
    transform: scale(0.85);
    transition: all 1s ease;
    margin: 0 75px;
    position: relative;
  }

  .swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
  }

  .image-container {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto; /* Allow height to adjust dynamically */
    object-fit: cover;
    border-radius: 10px;
  }

  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .swiper-slide-active .text-container {
    opacity: 1;
  }

  @media (max-width: 768px) {
    .swiper-slide {
      width: 70%;
      margin: 0 1%;
      padding-top: 10px;
    }

    .swiper-slide-active {
      transform: scale(1);
      margin: 0 5%;
    }

    .image-container {
      height: auto; /* Allow height to adjust dynamically on mobile */
    }

    .swiper-slide img {
      height: 30vh; /* Allow height to adjust dynamically on mobile */
    }
  }

  @media (max-width: 480px) {
    
 .image-container {
  width: 100%;
  height: auto; /* Let the container grow */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 30vh; /* Let the image fill the container */
  object-fit: cover; /* Show the full image */
}

  }

  @media (min-width: 769px) and (max-width: 1500px) {
    .swiper-slide {
      width: 60%;
      margin: 0 5%;
      transform: scale(0.9);
      padding-top: 30px;
    }

    .swiper-slide-active {
      transform: scale(1);
    }

    .image-container {
      height: 45vh; /* Fixed height for larger screens */
      width: 100%;
    }

    .swiper-slide img {
      width: 100%;
      object-fit: contain;
      height: 100%; /* Ensure images fill the container on larger screens */
    }
  }
</style>

<div id="herobanner">
  <!-- Swiper -->
  <div
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;"
    class="swiper"
    id="herobannerSwiper"
  >
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="relative">
          <div
            class="flex justify-center items-center mb-[10px] transition-opacity duration-500"
            style="opacity: 1; width: 100%; max-width: 900px; max-height: 180px; margin: 0 auto"
          >
            <p
              class="text-white text-center lg:pb-5 pb-2 font-dm-sans lg:font-medium font-light text-lg md:text-3xl xl:text-5xl leading-[1.1] lg:leading-[40px] xl:leading-[62.5px] lg:pt-10 pt-0"
            >
              Spritle's Gen AI solutions drive operational cost savings for our
              clients
            </p>
          </div>
          <div class="image-container">
            <img
              src="../assets/20995.png"
              alt="Slide image"
              class="rounded-xl object-center object-cover shadow-xl mx-auto md:h-auto w-full"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="relative">
          <div
            class="flex justify-center items-center mb-[10px] transition-opacity duration-500"
            style="opacity: 1; width: 100%; max-width: 900px; max-height: 180px; margin: 0 auto"
          >
            <p
              class="text-white text-center lg:pb-5 pb-2 font-dm-sans lg:font-medium font-light text-lg md:text-3xl xl:text-5xl leading-[1.1] lg:leading-[40px] xl:leading-[62.5px] lg:pt-10 pt-0"
            >
              We help businesses improve efficiency using Vision AI
            </p>
          </div>
          <div class="image-container">
            <img
              src="../assets/30713.png"
              alt="Slide image"
              class="rounded-xl object-center object-contain shadow-xl mx-auto md:h-auto w-full"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="relative">
          <div
            class="flex justify-center items-center mb-[10px] transition-opacity duration-500"
            style="opacity: 1; width: 100%; max-width: 900px; max-height: 180px; margin: 0 auto"
          >
            <p
              class="text-white text-center lg:pb-5 pb-2 font-dm-sans lg:font-medium font-light text-lg md:text-3xl xl:text-5xl leading-[1.1] lg:leading-[40px] xl:leading-[62.5px] lg:pt-10 pt-0"
            >
              Spritle simplifies & accelerates digital transformation for your
              business
            </p>
          </div>
          <div class="image-container">
            <img
              src="../assets/30714.png"
              alt="Slide image"
              class="rounded-xl object-center object-contain shadow-xl mx-auto md:h-auto w-full"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="relative">
          <div
            class="flex justify-center items-center mb-[10px] transition-opacity duration-500"
            style="opacity: 1; width: 100%; max-width: 900px; max-height: 180px; margin: 0 auto"
          >
            <p
              class="text-white text-center lg:pb-5 pb-2 font-dm-sans lg:font-medium font-light text-lg md:text-3xl xl:text-5xl leading-[1.1] lg:leading-[40px] xl:leading-[62.5px] lg:pt-10 pt-0"
            >
              Spritle simplifies & accelerates digital transformation for your
              business
            </p>
          </div>
          <div class="image-container">
            <img
              src="../assets/2151790123.png"
              alt="Slide image"
              class="rounded-xl object-center object-contain shadow-xl mx-auto md:h-auto w-full"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="relative">
          <div
            class="flex justify-center items-center mb-[10px] transition-opacity duration-500"
            style="opacity: 1; width: 100%; max-width: 900px; max-height: 180px; margin: 0 auto"
          >
            <p
              class="text-white text-center lg:pb-5 pb-2 font-dm-sans lg:font-medium font-light text-lg md:text-3xl xl:text-5xl leading-[1.1] lg:leading-[40px] xl:leading-[62.5px] lg:pt-10 pt-0"
            >
              We are the official partners of Nvidia & Google
            </p>
          </div>
          <div class="image-container">
            <img
              src="../assets/20995 (1).png"
              alt="Slide image"
              class="rounded-xl object-center object-contain shadow-xl mx-auto md:h-auto w-full"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="relative">
          <div
            class="flex justify-center items-center mb-[10px] transition-opacity duration-500"
            style="opacity: 1; width: 100%; max-width: 900px; max-height: 180px; margin: 0 auto"
          >
            <p
              class="text-white text-center lg:pb-5 pb-2 font-dm-sans lg:font-medium font-light text-lg md:text-3xl xl:text-5xl leading-[1.1] lg:leading-[40px] xl:leading-[62.5px] lg:pt-10 pt-0"
            >
              With 15+ years of experience, we create custom apps that transform
              your business
            </p>
          </div>
          <div class="image-container">
            <img
              src="../assets/30713 (1).png"
              alt="Slide image"
              class="rounded-xl object-center object-contain shadow-xl mx-auto md:h-auto w-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div thumbsSlider="" class="swiper mySwiper"></div>
</div>

<!-- Swiper JS -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const herobannerSwiper_wrapper = document.querySelector(
        "#herobannerSwiper .swiper-wrapper"
      ),
      mySwiper_container = document.querySelector(".mySwiper"),
      clone = herobannerSwiper_wrapper.cloneNode(false);
    mySwiper_container.appendChild(clone);

    const swiper = new Swiper(".mySwiper", {});
    const swiper2 = new Swiper("#herobannerSwiper", {
      modules: [Autoplay],
      autoplay: {
        delay: 1000,
        disableOnInteraction: false,
      },
      slidesPerView: "auto",
      autoplay: true,
      centeredSlides: true,
      loop: true,
      loopedSlides: herobannerSwiper_wrapper.childNodes.length,
      spaceBetween: 0,
      speed: 800,
      thumbs: {
        swiper: swiper,
      },
    });
  });

  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/effect-coverflow";
  import "swiper/css/navigation";
  import { Autoplay } from "swiper/modules";
</script>
