---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-20 lg:mt-52">
  <div
    class="flex flex-col justify-center items-center text-center px-5 md:px-0 container space-y-5 mt-10 md:mt-30"
  >
    <GradientHeading
      text=" High-performing remote teams. The future of work."
    />

    <!-- <h1 
    class="
    font-dmSans
    font-normal
    text-title"
    style="background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0.3) 100%); 
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;"
  >
    High-performing remote teams. <br /> The future of work.
  </GradientHeading> -->
    <p class="font-normal md:mt-4 text-title-body text-primary max-w-[1021px]">
      Powerful, self-serve team engagement tools and analytics. Supercharge your
      managers & keep employees engaged from anywhere.
    </p>
  </div>
</div>

<section class="py-12">
  <div class="md:px-0 px-5 container space-y-5">
    {/* Contact Us Via Email */}
    <h2 class="text-subbody text-primary font-semibold xl:mb-13 mb-6">
      Contact Us Via Email
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:mb-13 mb-6 rounded-[20px] border-2 border-[#D6D6D6] lg:max-w-[1718px] lg:max-h-[224px] gap-[20px] md:gap-[30px] lg:gap-[50px] p-[20px] md:p-[30px] lg:p-[50px]"
    >
      <div class="max-w-full lg:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          <!-- Increased margin-bottom to 20px -->
          For General Inquiries
        </h3>
        <a
          href="mailto:info@spritle.com"
          class="flex items-center justify-between rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full max-w-full lg:max-w-[472.67px] gap-4 pt-[10px] pr-[10px] pb-[10px] pl-[24px]"
        >
          <span class="flex items-center text-white font-normal text-body">
            <img src="/assets/contacticon.png" alt="" />
            info@spritle.com
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-8 h-8 md:w-10 md:h-10 lg:w-17 lg:h-12"
          />
        </a>
      </div>
      <div class="max-w-full md:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          <!-- Increased margin-bottom to 20px -->
          For Business Collaborations
        </h3>
        <a
          href="mailto:partnerships@digitx.com"
          class="flex items-center justify-between rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full max-w-full lg:max-w-[472.67px] gap-4 pt-[10px] pr-[10px] pb-[10px] pl-[24px]"
        >
          <span class="flex items-center text-white font-normal text-body">
            <img src="/assets/contacticon.png" alt="" />
            partnerships@digitx.com
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-8 h-8 md:w-10 md:h-10 lg:w-17 lg:h-12"
          />
        </a>
      </div>
      <div class="max-w-full md:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          <!-- Increased margin-bottom to 20px -->
          For Job Opportunities
        </h3>
        <a
          href="mailto:jobs@spritle.com"
          class="flex items-center justify-between rounded-[100px] border border-[#D6D6D6] px-4 md:px-6 py-2 hover:border-blue-500 w-full max-w-full lg:max-w-[472.67px] gap-4 pt-[10px] pr-[10px] pb-[10px] pl-[24px]"
        >
          <span class="flex items-center text-white font-normal text-body">
            <img src="/assets/contacticon.png" alt="" />
            jobs@spritle.com
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-8 h-8 md:w-10 md:h-10 lg:w-17 lg:h-12"
          />
        </a>
      </div>
    </div>

    {/* Contact Us By Phone */}
    <h2 class="text-subbody text-primary font-semibold xl:mb-13 mb-6">
      Contact Us By Phone
    </h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:mb-13 mb-6 rounded-[20px] border-2 border-[#D6D6D6] lg:max-w-[1718px] lg:max-h-[224px] gap-[20px] md:gap-[30px] lg:gap-[50px] p-[20px] md:p-[30px] lg:p-[50px]"
    >
      <div class="max-w-full lg:max-w-[472.67px] lg:max-h-[124px]">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          Ohio, USA
        </h3>
        <a
          href="tel:+16146647677"
          class="flex items-center justify-between border border-[#D6D6D6] rounded-[100px] px-3 py-2 hover:border-blue-500"
        >
          <span class="flex items-center text-white font-normal text-body">
            <img src="/assets/callicon.png" alt="" />

            +1 614 664 7677
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-8 h-8 md:w-10 md:h-10 lg:w-17 lg:h-12"
          />
        </a>
      </div>

      <div class="">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          Singapore
        </h3>
        <a
          href="tel:+6566525475"
          class="flex items-center justify-between border border-[#D6D6D6] rounded-[100px] px-3 py-2 hover:border-blue-500"
        >
          <span class="flex items-center text-white font-normal text-body">
            <img src="/assets/callicon.png" alt="" />

            +65 6652 5475
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-8 h-8 md:w-10 md:h-10 lg:w-17 lg:h-12"
          />
        </a>
      </div>

      <div class="">
        <h3 class="font-semibold text-primary text-subheading mb-4">
          Chennai, India
        </h3>
        <a
          href="tel:+914447843003"
          class="flex items-center justify-between border border-[#D6D6D6] rounded-[100px] px-3 py-2 hover:border-blue-500"
        >
          <span class="flex items-center text-white font-normal text-body">
            <img src="/assets/callicon.png" alt="" />
            +91 44 4784 3003
          </span>
          <img
            src="/assets/applynowarrow.png"
            alt="arrow"
            class="w-8 h-8 md:w-10 md:h-10 lg:w-17 lg:h-12"
          />
        </a>
      </div>
    </div>

    {/* Online Inquiry Form */}
    <h2 class="text-subbody text-primary font-semibold mb-6">
      Online Inquiry Form
    </h2>
    <p class="xl:mb-13 mb-6 text-[#B0B0B0] font-medium text-subheading">
      Please fill in the following details, and we'll get back to you within 24
      hours.
    </p>
    <form
      class="grid grid-cols-1 md:grid-cols-3 gap-6 p-5 xl:p-15 border-white border rounded-lg lg:h-screen lg:max-h-[808px] "
    >
      <div class="">
        <label
          for="firstName"
          class="block text-[#EAEAEA] text-subheading font-medium mb-[14px]"
        >
          First Name
        </label>
        <input
          type="text"
          id="firstName"
          class="mt-1 block w-full max-w-[486px] xl:h-full xl:max-h-[70px] text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Name"
        />
      </div>
      <div>
        <label
          for="lastName"
          class="block text-[#EAEAEA] text-subheading font-medium mb-[14px]"
        >
          Last Name
        </label>
        <input
          type="text"
          id="lastName"
          class="mt-1 block w-full max-w-[486px] xl:h-full xl:max-h-[70px] text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Name"
        />
      </div>
      <div>
        <label
          for="email"
          class="block text-[#EAEAEA] text-subheading font-medium mb-[14px]"
        >
          Email
        </label>
        <input
          type="email"
          id="email"
          class="mt-1 block w-full max-w-[486px] xl:h-full xl:max-h-[70px] text-body border border-[#D6D6D6] rounded-full text-[#888888] "
          placeholder="Enter your Email"
        />
      </div>
      <div>
        <label
          for="service"
          class="block text-[#EAEAEA] text-subheading font-medium mb-[14px]"
        >
          Select Service
        </label>
        <select
          id="service"
          class="mt-1 block w-full  max-w-[486px] xl:h-full xl:max-h-[70px] text-body border border-[#D6D6D6] rounded-full text-[#888888]  py-2"
        >
          <option >Select your Service</option>
          <option>Service 1</option>
          <option>Service 2</option>
          <option>Service 3</option>
        </select>
      </div>
      <div>
        <label
          for="phone"
          class="block text-[#EAEAEA] text-subheading font-medium mb-[14px]"
        >
          Phone Number
        </label>
        <input
          type="tel"
          id="phone"
          class="mt-1 block w-full max-w-[486px] xl:h-full xl:max-h-[70px] text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter your Phone Number"
        />
      </div>
      <div>
        <label
          for="company"
          class="block text-[#EAEAEA] text-subheading font-medium mb-[14px]"
        >
          Company / Organization Name
        </label>
        <input
          type="text"
          id="company"
          class="mt-1 block w-full max-w-[486px] xl:h-full xl:max-h-[70px] text-body border border-[#D6D6D6] rounded-full text-[#888888] px-4 py-2"
          placeholder="Enter Name"
        />
      </div>
      <div class="md:col-span-3">
        <label
          for="message"
          class="block text-base md:text-lg font-normal mb-[14px]"
        >
          Message
        </label>
        <textarea
          id="message"
          rows="4"
          class="mt-1 xl:h-full xl:max-h-[153px] max-w-[1558px] block w-full rounded-[20px] border-[#D6D6D6] border shadow-sm focus:border-blue-500 focus:ring-blue-500 text-body text-[#888888] px-4 py-2"
          placeholder="Enter your Message"></textarea>
      </div>
      <div class="md:col-span-3 flex justify-center items-center">
        <button
          type="submit"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-[#15AED5] px-6 py-4 text-base md:text-lg font-semibold text-white shadow-sm mb-10 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
        >
          Send your inquiry
          <img
            src="/assets/arrowright.png"
            alt="arrow"
            class="size-5 ml-1"
          />
        </button>
      </div>
    </form>
    {/* Join Us on Social Media */}
    <div class="mt-12 text-center">
      <h2 class="text-subbody text-white font-semibold mb-4">
        Join Us on Social Media
      </h2>
      <p class="text-subheading font-medium text-[#B0B0B0]">
        Stay updated with our latest projects, industry insights, and company
        news by following us on social media
      </p>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center py-19 px-4 text-center">
    <div class="flex space-x-6 md:mb-19 mb-4">
      <a href="" target="_blank">
        <img src="/assets/linkedin.png" alt="LinkedIn" class="xl:size-[74px]" />
      </a>
      <a href="" target="_blank">
        <img
          src="/assets/instagram.png"
          alt="Instagram"
          class="xl:size-[74px]"
        />
      </a>
      <a href="" target="_blank">
        <img src="/assets/twitter.png" alt="Twitter" class="xl:size-[74px]" />
      </a>
    </div>
  </div>
</section>
<div
  class="xl:h-[450px] container border-[#1F1F1F] border-2 flex items-center justify-center rounded-lg flex-col"
>
  <h1 class="font-dm-sans font-semibold md:text-6xl text-4xl md:mb-10 mb-4">
    Thank You !
  </h1>
  <p
    class="font-dm-sans font-medium text-subheading max-w-[1058px] text-[#8C8C8C] text-center"
  >
    For considering DigitX for your digital needs. We look forward to connecting  with you and being part of your digital success!
  </p>
</div>
