---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto  space-y-2 lg:space-y-5 xl:space-y-10 bg-background container "
  >
    <div class="">
      <GradientHeading
        text="Transforming Life Sciences with AI and Data-Driven Innovation"
      />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-gradientbody max-w-[900px]">
      Accelerating research, enhancing patient care, and streamlining operations
      with cutting-edge technology
    </p>
    <BtnBig
      text="    Explore Our Life Sciences Solutions"
      icon="/assets/rightarrow.svg"
      class="px-6"
    />
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Technology Solutions Shaping the Future of Health and Research
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center max-w-[1400px]">
      Spritle integrates AI, machine learning, and big data analytics to
      transform life sciences, from research and development to patient care,
      optimizing outcomes and advancing innovation
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
