<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Our Solution</h3>
  <div class="items-center justify-center flex">
    <p
      class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
    >
      Spritle’s platform addresses these pain points by offering a comprehensive
      suite of tools, including:
    </p>
  </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-20 container px-5 md:px-0 text-white p-6 mt-5 md:mt-10 lg:mt-20"
  >
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        A cross-platform web and mobile application for instant access to top
        cancer specialists.
      </h3>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Real-time notifications and seamless appointment scheduling to
        streamline the consultation process.
      </h3>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        HIPAA & HL7 compliance for secure data management and interoperability.
      </h3>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        EHR/EMR system integration for efficient data exchange.
      </h3>
    </div>
  </div>
</div>
