<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Conclusion
</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7   bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px] "
  >
Spritle’s Expert Second Opinion App transformed cancer care by offering patients effortless access to world-class specialists. By integrating advanced technology and ensuring data security, the app has enhanced consultations, increased user activity, and improved healthcare outcomes for cancer patients globally.

  </p>
</div>