---
import CaseStudyHero from "@/components/DynamicProps/CaseStudyHero.astro";
---

<CaseStudyHero
  imageUrl="/assets/cs5.png"
  text="Instant Access to Top Cancer Specialists Across the Worlds - Safe & Effortless"
  class=""
/>

<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Overview</h3>
  <div class="items-center justify-center flex">
    <p
      class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
    >
      Spritle, a digital solutions provider, partnered with healthcare
      organizations to revolutionize cancer care access by developing innovative
      digital platforms.
    </p>
  </div>
</div>
