---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/maintainance1.svg",
    heading: "Predictive Maintenance for Manufacturing System",
    description:
      "Enabled AI-driven predictive maintenance, reducing unexpected downtime by 35% and increasing overall system reliability",
  },
  {
    image: "/assets/maintainance2.svg",
    heading: "24/7 Support for E-commerce Platform",
    description:
      "Delivered round-the-clock technical support for a global e-commerce leader, resolving critical issues within minutes and ensuring zero impact on sales",
  },
  {
    image: "/assets/maintainance3.svg",
    heading: "Proactive Updates for Healthcare App",
    description:
      "Managed continuous updates for a healthcare platform, ensuring compliance with evolving medical regulations while improving performance by 20%",
  },
];
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container mt-8 md:mt-20 lg:mt-40"
>
  Industry Use Cases
</div>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container px-5 md:px-0"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
