---
import StEnggLogo from "../../assets/icons/home/stengg.svg";
import ReachLogo from "../../assets/icons/home/reach.svg";
import ChangiLogo from "../../assets/icons/home/changi.svg";
import LivingMatrixLogo from "../../assets/icons/home/livingmatrix.svg";
import GeoSnapshotLogo from "../../assets/icons/home/geosnapshot.svg";
import Sharenremember from "../../assets/icons/home/sharenrem.svg";
import LTLogo from "../../assets/icons/home/LnT.svg";
import Royalenfield from "../../assets/icons/home/royalenfield.svg";
import ICALogo from "../../assets/icons/home/ica.svg";
import FreshworksLogo from "../../assets/icons/home/freshworks.svg";
import ModdoLogo from "../../assets/icons/home/moddo.svg";
import ShowdownLogo from "../../assets/icons/home/showdownlive.svg";
import BeerBoardLogo from "../../assets/icons/home/beerboard.svg";
import HealthPlotterLogo from "../../assets/icons/home/healthpotter.svg";
import DoctorDBLogo from "../../assets/icons/home/doctordb.svg";
import UnitedLogo from "../../assets/icons/home/UN.svg";
import NestleLogo from "../../assets/icons/home/nestle.svg";
import SiteflyLogo from "../../assets/icons/home/livingmatrix.svg";

const cards = [
  {
    logo: StEnggLogo,
    title: "ST Engineering",
    partner: "Premium Development Partner",
    description:
      "A global technology, defense, and engineering group specializing in aerospace, electronics, marine, etc.",
  },
  {
    logo: ReachLogo,
    title: "Reach",
    partner: "Southeast Asia’s Largest Airport",
    description:
      "A Truck Management App built to simplify the driver request process and create value for Service Providers.",
  },
  {
    logo: ChangiLogo,
    title: "Changi Airport",
    partner: "Southeast Asia’s Largest Airport",
    description:
      "A holistic Airport Management System for maintaining all the terminals and runways in a single integrated platform.",
  },
  {
    logo: LivingMatrixLogo,
    title: "LivingMatrix",
    partner: "Comprehensive Analytical Tool",
    description:
      "Advanced tool for functional doctors to assess patient health based on symptoms and questions.",
  },
  {
    logo: GeoSnapshotLogo,
    title: "GEOSNAPSHOT",
    partner: "Immigration Self-Help Kioskrusted Industry Expert",
    description:
      "An interactive platform for photographers who attend events, take photos, and sell them to users online.",
  },
  {
    logo: Sharenremember,
    title: "Share & Remember",
    partner: "Part of Rugged Device OS",
    description:
      "Provides essential communication products & services to support public safety & commercial clients worldwide.",
  },
  {
    logo: LTLogo,
    title: "L&T",
    partner: "AI-Powered Monitoring System",
    description:
      "An AI-powered monitoring system to get real-time analytics on the functioning of galvanizing plants.",
  },
  {
    logo: Royalenfield,
    title: "Royal Enfield",
    partner: "AI-Powered Monitoring System",
    description:
      "A Truck Management App built to simplify the driver request process and create value for Service Providers.",
  },
  {
    logo: ICALogo,
    title: "ICA",
    partner: "Immigration Self-Help Kiosk",
    description:
      "A holistic Airport Management System for maintaining all the terminals and runways in a single integrated platform.",
  },
  {
    logo: NestleLogo,
    title: "Nestlé Health Science",
    partner: "Functional Medicine",
    description:
      "A cutting-edge analytical tool to help functional doctors get accurate insights into patient health status.",
  },
  {
    logo: FreshworksLogo,
    title: "Freshworks",
    partner: "Freshworks Integrations",
    description:
      "As an official solution partner, we helped hundreds of Freshworks customers with unique and innovative solutions.",
  },
  {
    logo: ModdoLogo,
    title: "MODDO",
    partner: "Immigration Self-Help Kiosk",
    description:
      "A strategic tech service enabling brands with tools needed to sell more effectively.",
  },
  {
    logo: ShowdownLogo,
    title: "ShowDown Time",
    partner: "Built Live HQ Trivia App",
    description:
      "An adrenaline-pumping app to create and play live-streaming trivia game shows on your phone.",
  },
  {
    logo: BeerBoardLogo,
    title: "BeerBoard",
    partner: "Built Full-Class Apps",
    description:
      "A consolidated beer management solution integrating bars, brewers, and beer lovers seamlessly.",
  },
  {
    logo: HealthPlotterLogo,
    title: "HealthPlotter",
    partner: "Premium Development Partner",
    description:
      "A business app that tracks employee health insurance and claim details for ongoing benefits.",
  },
  {
    logo: SiteflyLogo,
    title: "Sitefly",
    partner: "Build Apps Like Wix",
    description:
      "Empowering artists and small businesses to create social websites and grow their fan base.",
  },
  {
    logo: DoctorDBLogo,
    title: "doctorDB",
    partner: "Premium Development Partner",
    description:
      "A digital emergency lookup directory that uses GPS to list nearby doctors, clinics, and hospitals.",
  },
  {
    logo: UnitedLogo,
    title: "United Nations",
    partner: "Complete CMS System",
    description:
      "Promotes economic integration, cooperation, and sustainable development among member countries.",
  },
];
---

<section
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 lg:gap-9 xl:gap-12 2xl:gap-14 my-10 md:my-20"
>
  {
    cards.map((card) => {
      const Logo = card.logo;
      return (
        <div class=" boxShadow_works">
          <Logo class="max-w-[76px] max-h-[76px]" />
          <h2 class="text-subheading font-medium text-[#EAEAEA] lg:py-2 2xl:py-5">
            {card.title}
          </h2>
          <h3 class="text-subheading text-[#EAEAEA] font-normal">
            {card.partner}
          </h3>

          <p class="text-[#B0B0B0] font-normal text-subheading lg:pt-2 2xl:pt-4 ">
            {card.description}
          </p>
        </div>
      );
    })
  }
</section>
