---
import GradientHeading from "../DynamicProps/GradientHeading.astro";
import WorkMap from "../Works/WorkMap.astro";
---

<div class="mt-33 container px-5 md:px-0">
  <div
  class="flex flex-col justify-center items-center text-center space-y-5 container"
  >
  <div class="">
  <GradientHeading
    text="Accelerating Innovations For Better Technology Solutionsh"
  />
</div>
    <div class="w-screen flex justify-center items-center flex-col ">
      <p
        class="font-normal lg:mt-8 mt-4 text-title-body text-primary max-w-[1020px] container px-5 md:px-0"
      >
        A team with a plan never gives up. Below are a few of our masterpieces
        created for the greatest masterminds around the world.
      </p>

      <button
        class="mt-6 bg-btnprimary  lg:w-screen lg:max-w-[194px] max-h-[46px] text-base font-normal px-4 py-2 md:px-6 md:py-3 lg:px-8 lg:py-4 rounded-full flex items-center justify-center gap-2 xl:mt-18 mt-5"
      >
        Get Started
        <img
          src="/assets/rightarrow.svg"
          alt="Right Arrow"
          class="w-4 h-4 invert"
        />
      </button>
    </div>
  </div>
</div>
<WorkMap />
