---
import GradientHeading from "../DynamicProps/GradientHeading.astro";
import WorkMap from "../Works/WorkMap.astro";
import Button from "@/components/common/button.astro";
---

<div
  class="flex flex-col justify-center items-center text-center space-y-5 my-5 md:my-19 container"
>
  <div class="">
    <GradientHeading
      text="Accelerating Innovations For Better Technology Solutions"
    />
  </div>
  <div class="w-screen flex justify-center items-center flex-col">
    <p
      class="font-normal text-title-body text-gradientbody max-w-[1020px] my-5 lg:my-14 px-2"
    >
      A team with a plan never gives up. Below are a few of our masterpieces
      created for the greatest masterminds around the world.
    </p>

    <Button
      text="Get Started"
      arrow={true}
      className="!py-2 !px-5 sm:!px-10 text-subheading h-fit tracking-wider"
      type="link"
      href="#"
    />
  </div>
</div>
<WorkMap />
