---
import GradientHeading from "../DynamicProps/GradientHeading.astro";
import WorkMap from "../Works/WorkMap.astro";
---

<div
  class="flex flex-col justify-center items-center text-center spacey-5 my-19 container"
>
  <div class="">
    <GradientHeading
      text="Accelerating Innovations For Better Technology Solutions"
    />
  </div>
  <div
    class="w-screen flex justify-center items-center flex-col "
  >
    <p class="font-normal text-title-body text-gradientbody max-w-[1020px] my-5 lg:my-14">
      A team with a plan never gives up. Below are a few of our masterpieces
      created for the greatest masterminds around the world.
    </p>

    <button
      class="btnprimary lg:w-screen lg:max-w-[194px] max-h-[46px] text-base font-normal px-8 py-4 "
    >
      Get Started
      <img src="/assets/rightarrow.svg" alt="Right Arrow" class="w-4 h-4" />
    </button>
  </div>
</div>
<WorkMap />
