---
import {Image} from "astro:assets";
import career1 from "../../assets/images/careers/career1icon.png";
import career2 from "../../assets/images/careers/career2icon.png";
import career3 from "../../assets/images/careers/career3icon.png";
import career4 from "../../assets/images/careers/career4icon.png";
import career5 from "../../assets/images/careers/career5icon.png";
import career6 from "../../assets/images/careers/career6icon.png";
import career7 from "../../assets/images/careers/career7icon.png";
import career8 from "../../assets/images/careers/career8icon.png";
import career9 from "../../assets/images/careers/career9icon.png";
import career10 from "../../assets/images/careers/career10icon.png";
import career11 from "../../assets/images/careers/career11icon.png";
import career12 from "../../assets/images/careers/career12icon.png";


const logos = [
  career1,
  career2,
  career3,
  career4,
  career5,
  career6,
  career7,
  career8,
  career9,
  career10,
  career11,
  career12,
];

const cardTitles = [
  "Competitive Compensation",
  "Flexible Work Arrangements",
  "Modern Workspace",
  "Health and Wellness",
  "Employee Referral Program",
  "Company Events and Celebrations",
  "Paid Time Off",
  "Team-Building Activities",
  "Professional Development",
  "Employee Recognition",
  "Employee Growth Opportunities",
  "Work-Life Balance Support",
];

const cards = cardTitles.map((title,i) => ({
  logo:logos[i],
  title,
}));
---

<div
  class="space-y-1 lg:space-y-6 md:space-y-3 my-10 md:my-20  container "
>
  <h2 class="text-heading text-primary md:mb-4 mb-2 font-bold">
    Benefits & Perks
  </h2>
  <p
    class="text-subheading mt-3 md:mt-8 text-secondary font-medium max-w-[1095px]"
  >
    At DigitX, we believe in prioritizing the well-being and growth of our team
    members. We offer a comprehensive range of benefits and perks to ensure our
    employees feel valued, motivated, and supported in both their personal and
    professional lives. As a member of the DigitX family,
  </p>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:mt-15 mt-5 container  xl:gap-10 lg:gap-8 gap-3"
>
  {
    cards.map((card, index) => (
      <div
        key={index}
        class="flex items-center bg-[#333333] rounded-[10px] p-[10px]   h-[94px]  "
      >
        <Image
          src={card.logo}
          alt="Career Icon"
          class="max-size-18 object-contain"
        />
        <p class="text-primary font-dm-sans text-subheading p-5 pl-5">{card.title}</p>
      </div>
    ))
  }
</div>
