---
import { Image } from "astro:assets";
import career1 from "@/assets/icons/Careers/career1icon.svg";
import career2 from "@/assets/icons/Careers/career2icon.svg";
import career3 from "@/assets/icons/Careers/career3icon.svg";
import career4 from "@/assets/icons/Careers/career4icon.svg";
import career5 from "@/assets/icons/Careers/career5icon.svg";
import career6 from "@/assets/icons/Careers/career6icon.svg";
import career7 from "@/assets/icons/Careers/career7icon.svg";
import career8 from "@/assets/icons/Careers/career8icon.svg";
import career9 from "@/assets/icons/Careers/career9icon.svg";
import career10 from "@/assets/icons/Careers/career10icon.svg";
import career11 from "@/assets/icons/Careers/career11icon.svg";
import career12 from "@/assets/icons/Careers/career12icon.svg";

const logos = [
  career1,
  career2,
  career3,
  career4,
  career5,
  career6,
  career7,
  career8,
  career9,
  career10,
  career11,
  career12,
];

const cardTitles = [
  "Competitive Compensation",
  "Flexible Work Arrangements",
  "Modern Workspace",
  "Health and Wellness",
  "Employee Referral Program",
  "Company Events and Celebrations",
  "Paid Time Off",
  "Team-Building Activities",
  "Professional Development",
  "Employee Recognition",
  "Employee Growth Opportunities",
  "Work-Life Balance Support",
];

const cards = cardTitles.map((title, i) => ({
  logo: logos[i],
  title,
}));
---

<main class="my-10 md:my-20 container">
  <div class="space-y-1 lg:space-y-6 md:space-y-3">
    <h2 class="text-heading text-primary md:mb-10 mb-5 font-bold">
      Benefits & Perks
    </h2>
    <p
      class="text-subheading md:mb-10 mb-5 text-secondary font-medium max-w-[1095px]"
    >
      At DigitX, we believe in prioritizing the well-being and growth of our
      team members. We offer a comprehensive range of benefits and perks to
      ensure our employees feel valued, motivated, and supported in both their
      personal and professional lives. As a member of the DigitX family,
    </p>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:gap-10 lg:gap-8 gap-3"
  >
    {
      cards.map((card, index) => (
        <div
          key={index}
          class="flex items-center bg-[#333333] rounded-[10px] p-[10px]   h-[94px]  "
        >
          <Image
            src={card.logo}
            alt="Career Icon"
            class="max-size-18 object-contain"
          />
          <p class="text-primary font-dm-sans text-subheading p-5 pl-5">
            {card.title}
          </p>
        </div>
      ))
    }
  </div>
</main>
