<div
  id="mobileMenu"
  class="lg:hidden bg-background shadow-md hidden fixed top-0 left-0 mt-15 w-full h-full z-60 overflow-y-auto"
>
  <ul class="px-4 pt-2 pb-3 space-y-1">
   

    <!-- Services Dropdown for Mobile -->
    <li role="none">
      <button
        id="servicesDropdownToggleMobile"
        class="text-lg text-white hover:bg-card aria-expanded:bg-card flex items-center p-5 rounded-primary w-full mb-0.5"
        aria-expanded="false"
        aria-controls="servicesDropdownMobile"
        role="button"
      >
        Services
        <div class="flex justify-end w-full">
          <svg
            id="servicesArrowMobile"
            class="w-5 h-5 transform transition-transform duration-300"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </button>
      <ul
        id="servicesDropdownMobile"
        class="hidden bg-card p-2 rounded-primary border-card border"
        role="region"
        aria-labelledby="servicesDropdownToggleMobile"
      >
        <li>
          <a
            href="/genaisolution"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Gen AI Solution</a
          >
        </li>
        <li>
          <a
            href="/visionai"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Vision Ai</a
          >
        </li>
        <li>
          <a
            href="/custom"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Custom Software development-page</a
          >
        </li>
        <li>
          <a
            href="/ai-ml-solutions"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >AI&ML solutions</a
          >
        </li>
        <li>
          <a
            href="/datascience-bigdata"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >DataScience&BigData</a
          >
        </li>
        <li>
          <a
            href="/cloud-devops"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Cloud&Devops</a
          >
        </li>
        <li>
          <a
            href="/it-consulting"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >IT Consulting</a
          >
        </li>
        <li>
          <a
            href="/quality-assurance-testing"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Quality Assurance&Testing</a
          >
        </li>
        <li>
          <a
            href="/integration-services"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Integration Services</a
          >
        </li>
        <li>
          <a
            href="/security-services"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Security Services</a
          >
        </li>
       
      </ul>
    </li>
    <!-- Services End -->

    <!-- Industries Dropdown for Mobile -->
    <li>
      <button
        id="industriesDropdownToggleMobile"
        class="text-lg text-white hover:bg-card aria-expanded:bg-card flex items-center p-5 rounded-primary w-full mb-0.5"
        aria-expanded="false"
        aria-controls="industriesDropdownMobile"
        role="button"
      >
        Industries
        <div class="flex justify-end w-full">
          <svg
            id="industriesArrowMobile"
            class="w-5 h-5 transform transition-transform duration-300"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </button>
      <ul
        id="industriesDropdownMobile"
        class="hidden bg-card p-2 rounded-primary border-card border"
        role="region"
        aria-labelledby="industriesDropdownToggleMobile"
      >
        <li>
          <a
            href="/healthcare-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Healthcare Industry</a
          >
        </li>
        <li>
          <a
            href="/aviation-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Aviation Industry</a
          >
        </li>
        <li>
          <a
            href="/education-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Education Industry</a
          >
        </li>
        <li>
          <a
            href="/manufacturing-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Manufacturing Industry</a
          >
        </li>
        <li>
          <a
            href="/ecommerce-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Ecommerce Industry</a
          >
        </li>
        <li>
          <a
            href="/lifescience-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Life Science Industry</a
          >
        </li>
        <li>
          <a
            href="/transportation-logistic-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Transportation & Logistics Industry</a
          >
        </li>
        <li>
          <a
            href="/cpaas-industry"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >CPaaS Industry</a
          >
        </li>
        <li>
          <a
            href="/energy-utility-services"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Energy & Utilities Industry</a
          >
        </li>
      </ul>
    </li>
    <!-- Industries End -->

    <li role="none">
      <a
        href="/works"
        class="block text-lg text-white hover:bg-card rounded-primary p-5"
        >Works</a
      >
    </li>

    <li role="none">
      <a
        href="/about"
        class="block text-lg text-white hover:bg-card rounded-primary p-5"
        >About</a
      >
    </li>

    <!-- Knowledge Dropdown for Mobile -->
    <li>
      <button
        id="knowledgeDropdownToggleMobile"
        class="text-lg text-white hover:bg-card aria-expanded:bg-card flex items-center p-5 rounded-primary w-full mb-0.5"
        aria-expanded="false"
        aria-controls="knowledgeDropdownMobile"
        role="button"
      >
        Knowledge
        <div class="flex justify-end w-full">
          <svg
            id="knowledgeArrowMobile"
            class="w-5 h-5 transform transition-transform duration-300"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </button>
      <ul
        id="knowledgeDropdownMobile"
        class="hidden bg-card p-2 rounded-primary border-card border"
        role="region"
        aria-labelledby="knowledgeDropdownToggleMobile"
      >
        <li>
          <a
            href="/blogs"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Blogs</a
          >
        </li>
        <li>
          <a
            href="/tips-of-the-week"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Tips of the Week</a
          >
        </li>
        <li>
          <a
            href="/q_and_a"
            class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
            >Q&A</a
          >
        </li>
      </ul>
    </li>
    <li role="none">
      <a
        href="/career"
        class="block text-lg text-white hover:bg-card rounded-primary p-5"
        >Career</a
      >
    </li>

    <li role="none">
      <a
        href="/contact"
        class="block text-lg text-white hover:bg-card rounded-primary p-5"
        >Contact us</a
      >
    </li>
  </ul>
</div>

<script src="@/lib/mobilenav.js"></script>

<style></style>
