---
// MobileNav.astro
---

<div
  id="mobileMenu"
  class="md:hidden backdrop-blur-md bg-[#171717]/80 shadow-md hidden fixed top-0 left-0 mt-15 w-full h-full z-60 overflow-y-auto"
>
  <div class="px-4 pt-2 pb-3 space-y-1">
    <a
      href="/aisolution"
      class="block text-lg text-white hover:bg-background rounded-primary p-5"
      >AI Solutions</a
    >

    <!-- Services Dropdown for Mobile -->
    <div>
      <a
        href="#"
        id="servicesDropdownToggleMobile"
        class="text-lg text-white hover:bg-[#262626] flex items-center p-5 rounded-primary"
      >
        Services
        <div class="flex justify-end w-full">
          <svg
            id="servicesArrowMobile"
            class="w-5 h-5 transform transition-transform duration-300"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </a>
      <div
        id="servicesDropdownMobile"
        class="hidden bg-transparent p-2 rounded-primary border-card border"
      >
        <a
          href="/genaisolution"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Gen AI Solution</a
        >
        <a
          href="/visionai"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Vision Ai</a
        >
        <a
          href="/custom"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Custom Software development-page</a
        >
        <a
          href="/ai-ml-solutions"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >AI&ML solutions</a
        >
        <a
          href="/datascience-bigdata"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >DataScience&BigData</a
        >
        <a
          href="/cloud-devops"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Cloud&Devops</a
        >
        <a
          href="/it-consulting"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >IT Consulting</a
        >
        <a
          href="/quality-assurance-testing"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Quality Assurance&Testing</a
        >
      </div>
    </div>
    <!-- Services End -->

    <!-- Industries Dropdown for Mobile -->
    <div>
      <a
        href="#"
        id="industriesDropdownToggleMobile"
        class="text-lg text-white hover:bg-card flex items-center p-5 rounded-primary"
      >
        Industries
        <div class="flex justify-end w-full">
          <svg
            id="industriesArrowMobile"
            class="w-5 h-5 transform transition-transform duration-300"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </a>
      <div
        id="industriesDropdownMobile"
        class="hidden bg-transparent p-2 rounded-primary border-card border"
      >
        <a
          href="/healthcare-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Healthcare Industry</a
        >
        <a
          href="/aviation-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Aviation Industry</a
        >
        <a
          href="/education-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Education Industry</a
        >
        <a
          href="/manufacturing-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Manufacturing Industry</a
        >
        <a
          href="/ecommerce-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Ecommerce Industry</a
        >
        <a
          href="/lifescience-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Life Science Industry</a
        >
        <a
          href="/transportation-logistic-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Transportation & Logistics Industry</a
        >
        <a
          href="/cpaas-industry"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >CPaaS Industry</a
        >
        <a
          href="/energy-utility-services"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Energy & Utilities Industry</a
        >
      </div>
    </div>
    <!-- Industries End -->

    <a
      href="/works"
      class="block text-lg text-white hover:bg-background rounded-primary p-5"
      >Works</a
    >
    <a
      href="/about"
      class="block text-lg text-white hover:bg-background rounded-primary p-5"
      >About</a
    >
    <div>
      <a
        href="#"
        id="knowledgeDropdownToggleMobile"
        class="text-lg text-white hover:bg-card flex items-center p-5 rounded-primary"
      >
        Knowledge
        <div class="flex justify-end w-full">
          <svg
            id="knowledgeArrowMobile"
            class="w-5 h-5 transform transition-transform duration-300"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </a>
      <div
        id="knowledgeDropdownMobile"
        class="hidden bg-transparent p-2 rounded-primary border-card border"
      >
        <a
          href="/blogs"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Blogs</a
        >
        <a
          href="/tips-of-the-week"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Tips of the Week</a
        >
        <a
          href="/q&a"
          class="block text-primary text-lg hover:bg-background rounded-primary rounded-br-xl rounded-bl-xl p-5"
          >Q&A</a
        >
      </div>
    </div>
    <a
      href="/career"
      class="block text-lg text-white hover:bg-background rounded-primary p-5"
      >Career</a
    >
    <a
      href="/contact"
      class="block text-lg text-white hover:bg-background rounded-primary p-5"
      >Contact us</a
    >
  </div>
</div>

<script lang="js">
  const dropdownToggles = [
    {
      button: "servicesDropdownToggleMobile",
      dropdown: "servicesDropdownMobile",
      arrow: "servicesArrowMobile",
    },
    {
      button: "industriesDropdownToggleMobile",
      dropdown: "industriesDropdownMobile",
      arrow: "industriesArrowMobile",
    },
    {
      button: "knowledgeDropdownToggleMobile",
      dropdown: "knowledgeDropdownMobile",
      arrow: "knowledgeArrowMobile",
    },
  ];

  dropdownToggles.forEach(({ button, dropdown, arrow }) => {
    const btn = document.getElementById(button);
    const drop = document.getElementById(dropdown);
    const icon = document.getElementById(arrow);

    btn?.addEventListener("click", (e) => {
      e.preventDefault();
      drop.classList.toggle("hidden");
      icon.classList.toggle("rotate-180");
    });
  });
</script>
