---
import MobileNav from "./MobileNav.astro";
import SpritleLogo from "@/assets/icons/spritle.svg";
import ArrowDown from "@/assets/icons/chevron-down.svg";
---

<header
  class="backdrop-blur-md bg-background/85 sticky top-0 left-0 w-full z-50"
  role="navigation"
  aria-label="Main navigation"
>
  <div class="container">
    <div class="flex justify-between items-center h-16">
      <!-- Mobile Menu Toggle Button -->
      <a href="/" aria-label="Home" class="lg:hidden p-2">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
        </svg>
      </a>

      <!-- Logo -->
      <div class="flex flex-1 justify-center lg:justify-start">
        <a href="/">
          <SpritleLogo mode="sprite" class="h-8 w-30" />
        </a>
      </div>

      <nav>
        <!-- Desktop Menu -->
        <ul class="hidden lg:flex space-x-4 items-center">
        
          <!-- Services Dropdown -->
          <li class="relative group">
            <button
              id="servicesToggle"
              class="group text-primary font-normal text-md px-3 py-2 aria-expanded:rounded-b-none rounded-primary transition-[background] duration-300 flex items-center hover:bg-card focus:bg-card focus:outline-none aria-expanded:bg-card"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="servicesMenu"
            >
              Services
              <ArrowDown
                id="servicesArrow"
                class={`group-aria-expanded:-rotate-180 size-4 ml-1 transition-[rotate] duration-150`}
              />
            </button>
            <ul
              id="servicesMenu"
              class="absolute hidden p-2 bg-card rounded-tl-none rounded-primary z-50 border-t-3 border-transparent w-72 mt-0.5"
              role="menu"
              aria-label="Services"
            >
              <li>
                <a
                  href="/genaisolution"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >Gen AI Solution</a
                >
              </li>
              <li>
                <a
                  href="/visionai"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >Vision AI</a
                >
              </li>
              <li>
                <a
                  href="/custom"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >Custom Software Development</a
                >
              </li>
              <li>
                <a
                  href="/ai-ml-solutions"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >AI & ML Solutions</a
                >
              </li>
              <li>
                <a
                  href="/datascience-bigdata"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >DataScience & BigData</a
                >
              </li>
              <li>
                <a
                  href="/cloud-devops"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >Cloud & Devops</a
                >
              </li>
              <li>
                <a
                  href="/it-consulting"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >IT Consulting</a
                >
              </li>
              <li>
                <a
                  href="/integration-services"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >Integration Services</a
                >
              </li>
              <li>
                <a
                  href="/security-services"
                  role="menuitem"
                  tabindex="0"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  >Security Services</a
                >
              </li>
            </ul>
          </li>

          <!-- Industries Dropdown for Laptop -->
          <li class="relative group">
            <button
              id="industriesDropdownToggleDesktop"
              class="group text-primary font-normal text-md px-3 py-2 aria-expanded:rounded-b-none rounded-primary transition-[background] duration-300 flex items-center hover:bg-card focus:bg-card focus:outline-none aria-expanded:bg-card"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="industriesDropdownDesktop"
            >
              Industries
              <ArrowDown
                class={`group-aria-expanded:-rotate-180 size-4 ml-1 transition-[rotate] duration-150`}
              />
            </button>
            <!-- Dropdown Menu Industries -->
            <ul
              id="industriesDropdownDesktop"
              class="absolute hidden p-2 bg-card rounded-tl-none rounded-primary z-50 w-72 mt-0.5"
              role="menu"
              aria-label="Industries Dropdown"
            >
              <li role="none">
                <a
                  href="/healthcare-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Healthcare Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/aviation-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Aviation Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/education-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Education Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/manufacturing-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Manufacturing Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/ecommerce-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Ecommerce Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/lifescience-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Life Science Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/transportation-logistic-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Transportation & Logistics Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/cpaas-industry"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  CPaaS Industry
                </a>
              </li>
              <li role="none">
                <a
                  href="/energy-utility-services"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Energy & Utilities Industry
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a
              href="/works"
              class="font-normal text-primary text-md hover:bg-card focus:bg-card px-3 py-3 rounded-primary transition-[background] duration-300 focus:outline-none"
              >Works</a
            >
          </li>

          <li>
            <a
              href="/about"
              class="font-normal text-primary text-md hover:bg-card focus:bg-card px-3 py-3 rounded-primary transition-[background] duration-300 focus:outline-none"
              >About</a
            >
          </li>

          <!-- KNowledge Dropdown for Laptop -->
          <li class="relative group">
            <button
              id="knowledgeDropdownToggleDesktop"
              class="group text-primary font-normal text-md px-3 py-2 aria-expanded:rounded-b-none rounded-primary transition-[background] duration-300 flex items-center hover:bg-card focus:bg-card focus:outline-none aria-expanded:bg-card"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="knowledgeDropdownDesktop"
            >
              Knowledge
              <ArrowDown
                class={`group-aria-expanded:-rotate-180 size-4 ml-1 transition-[rotate] duration-150`}
              />
            </button>
            <!-- Dropdown Menu Industries -->
            <ul
              id="knowledgeDropdownDesktop"
              class="absolute hidden p-2 bg-card rounded-tl-none rounded-primary z-50 w-52 mt-0.5"
              role="menu"
              aria-label="Knowledge Dropdown"
            >
              <li role="none">
                <a
                  href="/blogs"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Blogs
                </a>
              </li>
              <li role="none">
                <a
                  href="/tips-of-the-week"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Tips of the Week
                </a>
              </li>
              <li role="none">
                <a
                  href="/q_and_a"
                  class="block font-normal text-primary rounded-primary text-md px-3 py-2 hover:bg-background focus:bg-background focus:outline-none"
                  role="menuitem"
                  tabindex="-1"
                >
                  Q&A
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a
              href="/career"
              class="font-normal text-primary text-md hover:bg-card focus:bg-card px-3 py-3 rounded-primary transition-[background] duration-300 focus:outline-none"
              >Career</a
            >
          </li>

          <li>
            <a
              href="/contact"
              class="bg-button text-white px-4 py-2 rounded-full hover:bg-card focus:bg-card transition-[background] duration-300 text-md focus:outline-none"
              >Contact us</a
            >
          </li>
        </ul>
      </nav>

      <!-- Mobile Menu Toggle Button -->
      <button
        id="mobileMenuButton"
        class="flex items-center cursor-pointer bg-background rounded-primary lg:hidden p-2 focus:outline-none relative w-10 h-10 group"
        aria-label="Toggle menu"
        aria-expanded="false"
      >
        <span
          class="absolute top-2.5 left-2 w-6 h-0.5 bg-white transition-all duration-300 origin-center mt-1"
        ></span>
        <span
          class="absolute top-5 left-2 w-6 h-0.5 bg-white transition-all duration-300 origin-center mt-1"
        ></span>
      </button>
    </div>
  </div>
</header>

<MobileNav />

<script src="@/lib/navbar.js"></script>
