---
// index.astro or your desired page
import sentiment from "../../../../assets/images/service/visionAI/sentiment.png";
import prediction from "../../../../assets/images/service/visionAI/prediction.png";

import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: prediction,
    heading: "AI-Based Predictive Maintenance for Manufacturing",
    description:
      "Reduced machine downtime by 30% using predictive maintenance algorithms, leading to a 20% increase in operational efficiency",
  },
  {
    image: sentiment,
    heading: "NLP-Powered Sentiment Analysis for Retail",
    description:
      "Developed a sentiment analysis tool for a retail giant, enabling them to gauge customer satisfaction in real-time, increasing customer retention by 15%.",
  },
];
---

<h1
  class="text-heading text-primary font-dmSans font-semibold my-10 md:my-20 text-center"
>
  Success Stories
</h1>
<div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 container">
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
