---
import CoreAi from "@/components/DynamicProps/CoreAi.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container mt-8 md:mt-20 lg:mt-40"
>
  Core AI & ML Services
</div>
<div class="container grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">
  <CoreAi
    logo="/assets/unique1.svg"
    heading="Predictive Analytics"
    content={[
      "Customer churn prediction",
      "Sales forecasting",
      "Demand forecasting",
    ]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="Natural Language Processing (NLP)"
    content={["Virtual assistants", "AI chatbots", "Sentiment analysis"]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="Computer Vision"
    content={[
      "Facial recognition ",
      "Medical imaging analysis",
      "Automated quality control ",
    ]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="Reinforcement Learning"
    content={["Autonomous systems", "Robotics", "Gaming strategies"]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="AI-Powered Automation"
    content={["Robotic process automation (RPA)", "Intelligent workflows"]}
  />
  <CoreAi
    logo="/assets/unique1.svg"
    heading="Deep Learning Models "
    content={[
      "Personalized recommendations",
      " Fraud detection",
      " Fraud detection",
    ]}
  />
</div>
<div class="mt-0 flex flex-col justify-center items-center container">
  <h1
    class="lg:text-[55px] text-xl text-primary font-dmSans font-semibold mt-20"
  >
    Start Your Vision AI Journey
  </h1>
  <p class="text-secondary py-5 lg:py-10 text-subbody font-normal text-center">
    Harness the power of Vision AI to improve operational efficiency, enhance
    security, and unlock deeper insights from your visual data. We tailor our
    Vision AI solutions to fit your business needs and deliver measurable
    results.
  </p>
</div>
<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container mt-8 md:mt-20 lg:mt-40"
>
  Core AI & ML Services
</div>
<div class="container grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">
  <CoreAi
    logo="/assets/unique1.svg"
    heading="Healthcare"
    content={[
      "AI-powered diagnostic tools",
      "virtual healthcare assistants",
      "Predictive patient analytics",
    ]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="Manufacturing"
    content={[
      "Predictive maintenance",
      "Automated quality control",
      "Smart factory operations",
    ]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="Retail & E-commerce"
    content={[
      "Personalized recommendations ",
      "inventory forecasting",
      "Dynamic pricing models ",
    ]}
  />

  <CoreAi
    logo="/assets/unique1.svg"
    heading="Finance"
    content={[
      "Fraud detection",
      "Credit risk assessment",
      " Algorithmic trading",
    ]}
  />

 
  
</div>
