---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container px-5 md:px-0"
  >
    <GradientHeading
      text="AI & ML Solutions that Drive Innovation"
      maxWidth="870px"
    />
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[600px]">
      Harness advanced AI and machine learning to automate, predict, and
      transform your business
    </p>
    <BtnBig
      text="Explore Our AI & ML Services"
      icon="/assets/rightarrow.svg"
      class="px-15 "
    />
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Empowering Businesses with Cutting-Edge AI & ML
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Spritle delivers custom AI and machine learning solutions that automate
      processes, predict outcomes, and enable smarter decision-making. Our
      expertise across industries ensures you unlock the full potential of AI,
      driving your business forward
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
