---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/succ3.svg",
    heading: "AI-Based Predictive Maintenance for Manufacturing",
    description:
      "Reduced machine downtime by 30% using predictive maintenance algorithms, leading to a 20% increase in operational efficiency",
  },
  {
    image: "/assets/succ4.svg",
    heading: "NLP-Powered Sentiment Analysis for Retail",
    description:
      "Developed a sentiment analysis tool for a retail giant, enabling them to gauge customer satisfaction in real-time, increasing customer retention by 15%.",
  },
];
---

<h1
  class="text-heading text-primary font-dmSans font-semibold md:mt-10 mt-5 text-center "
>
  Success Stories
</h1>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container px-5 md:px-0"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>

