---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Proven expertise in AI model development.",
    },
  {
    title: "Agile and scalable deployment of AI systems",
 },
  {
    title: "End-to-end support from development to integration",
  },
  {
    title: "Focus on security, compliance, and data privacy.",
    },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2
      class="text-3xl font-medium mb-6 md:text-4xl lg:text-[54px] text-primary"
    >
      Why Vision AI is a Game Changer
    </h2>

    <div>
      <Star items={items} />
    </div>
  </div>
</div>
