---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div class="container  my-10 md:my-20">

  
  <div class="text-heading text-primary md:mb-12 mb-2 font-semibold">
    Energy & Utilities Technology Solutions We Offer
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6">
    <UniqueValueCard
    logo="/assets/unique1.svg"
    title=" Smart Grid & IoT Integration"
    description="Optimize energy distribution with IoT-enabled smart grids that provide real-time monitoring and predictive analytics for more efficient energy usage"
    />
    <UniqueValueCard
    logo="/assets/unique2.svg"
    title="Predictive Maintenance for Power Plants"
    description="Leverage machine learning and AI to predict equipment failures and optimize maintenance schedules, minimizing downtime and reducing operational costs"
    />
    <UniqueValueCard
    logo="/assets/unique3.svg"
    title="AI for Energy Consumption Forecasting"
    description="Utilize AI and big data analytics to predict energy consumption patterns, enabling better resource allocation and reducing energy wastage"
    />
  </div>
  
</div>