---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/energy1.svg",
    heading: "AI-Powered Predictive Maintenance for a Power Plant",
    description:
      "Implemented AI-driven predictive maintenance, reducing unplanned downtime by 30% and extending the lifespan of critical assets",
  },
  {
    image: "/assets/energy2.svg",
    heading: "IoT-Enabled Smart Grid for Energy Distributor",
    description:
      "Deployed IoT sensors for a smart grid, enhancing energy distribution efficiency and providing real-time insights to prevent outages",
  },
  {
    image: "/assets/energy3.svg",
    heading: "AI for Energy Forecasting in a Utility Company",
    description:
      "Developed an AI-based energy consumption forecasting model, optimizing energy allocation and reducing wastage by 20%",
  },
];
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-semibold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-40"
>
  Industry Success Stories
</div>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container px-5 md:px-0 mt-8 md:mt-20 lg:mt-30"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
