---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container"
  >
    <div class="">
      <GradientHeading
        text="Powering the Future of Energy & Utilities with Advanced Technology"
      />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Driving sustainability, efficiency, and smarter grid solutions with AI,
      IoT, and Big Data
    </p>
    <button
      class="mt-6 bg-[#15AED5] text-white text-base md:text-lg lg:text-xl font-medium px-4 py-2 md:px-6 md:py-3 lg:px-20 lg:py-2 rounded-full flex items-center gap-2"
    >
      Explore Our Energy & Utilities Solutions<img
        src="/assets/arrowright.png"
        alt="Right Arrow"
        class="w-4 h-4 md:w-5 md:h-5 lg:w-4 lg:h-4"
      />
    </button>
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Innovative Solutions for Sustainable Growth and Operational Excellence
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Spritle integrates cutting-edge AI, IoT, and data-driven technologies to
      enhance operational efficiency, reduce costs, and support sustainability
      initiatives in energy generation, distribution, and utilities
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
