<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Our Solution</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7   bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px] "
  >
  Spritle Software partnered with Nestlé Health Science to create a platform that integrates multiple data sources to offer highly tailored health and nutritional recommendations for patients. The key components of the solution include:
  </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-20 container px-5 md:px-0 text-white p-6 mt-5 md:mt-10 lg:mt-20">
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary ">Patient Report</h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">A detailed health insights report generated using data from genetics, smart questionnaires, and lab results. The report provides personalized recommendations for diet, lifestyle, and supplements.</p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">Genetic Analyzer</h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">Personalized genomic analysis tools that convert genetic data into lifestyle and nutritional recommendations.
        </p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">Smart Questionnaire  </h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">Patients answer validated questions, resulting in personalized insights that complement a practitioner’s care plan.
</p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">Lab Report Analyzer</h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">An AI-powered engine that extracts critical data from lab reports and generates relevant recommendations.</p>
  </div>
  <div class="p-6 border-l-7 border-btnprimary  ">
    <h3 class="text-subtitle font-medium text-primary">E-commerce Integration</h3>
        <p class="mt-2 text-subheading text-secondary font-medium ">Patients can easily purchase supplements recommended by their practitioners via an integrated e-commerce platform.
</p>
  </div>
</div>