---
import CaseStudyHero from "@/components/DynamicProps/CaseStudyHero.astro";
---

<CaseStudyHero
  imageUrl="/assets/cs2.png"
  text="Smart Airport Management: Track,  Maintain, and Optimize with Precision"
  class=""
/>

<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Overview</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
  >
    Nestlé Health Science, a leader in science-based nutrition, sought to
    develop an innovative platform that would allow healthcare practitioners to
    provide personalized recommendations for diet, exercise, and supplements
    based on patient-specific data. This data included genetic reports,
    responses from a smart questionnaire, and lab results uploaded by patients.
    The challenge was to seamlessly integrate these data sources into a single,
    user-friendly solution that would empower both patients and practitioners
    with personalized, actionable health insights.
  </p>
</div>
