---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/succ1.svg",
    heading:
      "Retail Giant Sees 35% Uplift in Customer Engagement with AI-Generated Content:",
    description:
      "A large online retailer implemented our Generative AI to create personalized product recommendations and content for customers. The result was a 35% uplift in customer engagement and a 20% increase in conversion rates.",
  },
  {
    image: "/assets/succ2.svg",
    heading: "Automated Video Annotations Boost Healthcare Precision by 30%:",
    description:
      "Our AI-generated video annotation tool for a surgical video analysis platform increased the precision of detecting surgical errors by 30%, enabling healthcare professionals to make more informed decisions",
  },
];
---

<h1
  class="text-centerheading text-primary font-dmSans font-semibold md:mt-10 mt-5 text-center"
>
  Success Stories
</h1>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 md:mt-16 mt-5 container px-5 md:px-0"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
