---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container my-10 md:my-20 "
>
  Our Unique Value Proposition
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 container "
>
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Custom AI Models for Your Business"
    description="Every industry and business has unique needs. We develop AI models specifically tailored to your industry, whether it's retail, healthcare, entertainment, or manufacturing."
  />
  <UniqueValueCard
    logo="/assets/unique2.svg"
    title="AI-Powered Creativity & Efficiency"
    description="From generating compelling marketing content to automating complex design tasks, our solutions help you reduce costs, save time, and stay ahead of the competition by leveraging cutting-edge AI."
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Deep Industry Expertise"
    description="With years of experience deploying AI solutions across various sectors, we understand how to drive meaningful impact using Generative AI"
  />
</div>
