<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Our Solution</h3>
  <div class="items-center justify-center flex">
    <p
      class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px]"
    >
      Spritle’s FMS Analytics solution, built on ManageEngine Analytics Plus,
      integrates seamlessly with CAG's existing ServiceDesk Plus. The solution
      offers robust, real-time analytics capabilities for managing airport
      facilities with precision:
    </p>
  </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-20 container px-5 md:px-0 text-white p-6 mt-5 md:mt-10 lg:mt-20"
  >
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        AI-Driven Analytics
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        Using Ask Zia, a conversational AI assistant, the team can query data
        using natural language and receive instant insights, visualizations, and
        predictive analytics on maintenance trends and service metrics.
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">Unified Data View</h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        By integrating data across multiple IT systems, including ServiceDesk
        Plus and asset management tools, the solution offers a 360-degree view
        of operational data, enabling better strategic decision-making.
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Customizable Dashboards and Reporting
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        The no-code, drag-and-drop reporting interface empowers non-technical
        users to build detailed, custom reports and dashboards without IT
        assistance, increasing efficiency and fostering a data-driven culture.
      </p>
    </div>
    <div class="p-6 border-l-7 border-btnprimary">
      <h3 class="text-subtitle font-medium text-primary">
        Automated Reporting
      </h3>
      <p class="mt-2 text-subheading text-secondary font-medium">
        FMS Analytics automates report generation, reducing errors and saving
        time. Real-time insights are readily available to guide continuous
        improvements in airport facilities management.
      </p>
    </div>
  </div>
</div>
