<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Results</h3>
  <div class="items-center justify-center flex">
    <p
      class="font-normal text-subbody md:mt-15 mt-7 bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1488px]"
    >
      With Spritle’s solution, CAG can now efficiently track and maintain
      facilities across Singapore Changi Airport, while improving service
      quality and fault resolution speed. The advanced analytics capabilities
      enable proactive decision-making and optimized airport management.
    </p>
    </div>
  </div>
</div>
