---
import CaseStudyHero from "@/components/DynamicProps/CaseStudyHero.astro";
---

<CaseStudyHero
  imageUrl="/assets/cs1.png"
  text="Smart Airport Management: Track,  Maintain, and Optimize with Precision"
  class=""
/>

<div class="container px-5 md:px-0 md:mt-15 mt-7">
  <h3 class="text-centerheading text-primary font-semibold">Overview</h3>
  <p
    class="font-normal text-subbody md:mt-15 mt-7   bg-gradient-to-b from-[#EAEAEA] to-[#858282] text-transparent bg-clip-text max-w-[1570px] "
  >
    At Changi Airport Group (CAG), Spritle has implemented an advanced FMS
    (Fault Management System) Analytics solution to revolutionize the way
    airport facilities are managed. By addressing critical challenges in fault
    reporting, data integration, and real-time insights, our solution transforms
    airport operations, empowering the Changi team to make data-driven decisions
    and ensure the highest levels of efficiency
  </p>
</div>
