---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background container"
  >
    <div class="">
      <GradientHeading
        text="Empowering Seamless Communication with CPaaS Solutions  "
      />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Integrating voice, video, messaging, and collaboration tools into your
      apps for a unified, scalable communication experience.
    </p>
    <button
      class="mt-6 bg-[#15AED5] text-white text-base md:text-lg lg:text-xl font-medium px-4 py-2 md:px-6 md:py-3 lg:px-20 lg:py-2 rounded-full flex items-center gap-2"
    >
      Discover Our CPaaS Solutions<img
        src="/assets/arrowright.png"
        alt="Right Arrow"
        class="w-4 h-4 md:w-5 md:h-5 lg:w-4 lg:h-4"
      />
    </button>
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Revolutionizing Business Communication
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center">
      Spritle provides cutting-edge CPaaS solutions that simplify integration of
      communication features, enabling businesses to engage customers seamlessly
      across channels with real-time, AI-powered capabilities
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
