---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div class="container px-5 md:px-0 my-10 md:my-20">
  <div class="text-heading text-primary md:mb-12 mb-2 font-semibold">
    CPaaS Technology Solutions We Offer
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6">
    <UniqueValueCard
      logo="/assets/unique1.svg"
      title=" Real-Time Messaging & Chat Solutions"
      description="Enable real-time, in-app messaging and chat features that enhance customer engagement and support"
    />
    <UniqueValueCard
      logo="/assets/unique2.svg"
      title="Video Conferencing Integration"
      description="Integrate HD video conferencing into your applications for virtual meetings, customer support, and webinars"
    />
    <UniqueValueCard
      logo="/assets/unique3.svg"
      title="Voice & IVR Systems"
      description="Develop AI-enhanced voice systems with IVR (Interactive Voice Response) that offer intelligent call routing and improved customer service"
    />
    <UniqueValueCard
      logo="/assets/unique3.svg"
      title="Omnichannel Communication Platform"
      description="Unify SMS, email, push notifications, and social media into a single platform to streamline communication across multiple touchpoints"
    />
  </div>
</div>
