---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Comprehensive Communication Solutions",
    description:
      " We offer everything from messaging, voice, and video to omnichannel platforms",
  },
  {
    title: "Scalable & Customizable",
    description:
      "Tailored solutions to meet the needs of startups to enterprises, ensuring scalability",
  },
  {
    title: "AI-Powered Integration",
    description:
      "  Integrating artificial intelligence to enhance communication efficiency and automation.  ",
  },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30">
  <div class="container px-5 md:px-0 flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-6 text-primary">
      Why Spritle for CPaaS?
    </h2>

    <div>
      <Star items={items} maxWidth="1450px" />
    </div>
  </div>
</div>
