---
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
import BtnBig from "../DynamicProps/BtnBig.astro";
---

<div class="mt-40 container ">
  <div
    class="flex flex-col justify-center items-center text-center h-auto  space-y-2 lg:space-y-5 xl:space-y-10 bg-background "
  >
    <div class="max-w-[1015px]">
      <GradientHeading text="IT Consulting for the Digital Age" />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-gradientbody max-w-[600px]">
      Strategic insights, cutting-edge solutions, and future-proof technology
      for business transformation
    </p>
    <BtnBig
      text="Partner with Our Experts"
      icon="/assets/rightarrow.svg"
      class="px-8"
    />
    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      From Insight to Impact
    </h1>
    <p class="text-secondary mt-0 text-subbody font-normal text-center max-w-[1298px]">
      Our IT consulting approach starts with understanding your business goals
      and leveraging technology to solve your unique challenges
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
