---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container md:px-0 px-5 mt-8 md:mt-20 lg:mt-40"
>
  Strategic Consulting Services
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6 container md:px-0 px-5"
>
  <UniqueValueCard
    logo="/assets/unique1.svg"
    title="IT Strategy & Roadmap Development"
    description="We help you define a clear, actionable IT strategy that aligns with your business growth, ensuring scalability and resilience"
  />
  <UniqueValueCard
    logo="/assets/unique2.svg"
    title="Cloud Strategy & Transformation"
    description="Move to the cloud with confidence. We design cloud architectures that are secure, scalable, and cost-efficient"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Digital Transformation & Modernization"
    description="We enable organizations to embrace digital transformation by modernizing legacy systems and introducing new digital workflows"
  />
  <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Cybersecurity Risk Management"
    description="Protect your business with a comprehensive security strategy, mitigating risk across your digital landscape"
  />
</div>
