---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
import u1 from "../../assets/icons/casestudy/u1.svg";
import u2 from "../../assets/icons/casestudy/u2.svg";
import u3 from "../../assets/icons/casestudy/u3.svg";
---

<div class="container my-10 md:my-20">
  <div class="text-heading text-primary md:mb-12 mb-2 font-bold">
    Strategic Consulting Services
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6">
    <UniqueValueCard
      logo={u1}
      title="IT Strategy & Roadmap Development"
      description="We help you define a clear, actionable IT strategy that aligns with your business growth, ensuring scalability and resilience"
    />
    <UniqueValueCard
      logo={u2}
      title="Cloud Strategy & Transformation"
      description="Move to the cloud with confidence. We design cloud architectures that are secure, scalable, and cost-efficient"
    />
    <UniqueValueCard
      logo={u3}
      title="Digital Transformation & Modernization"
      description="We enable organizations to embrace digital transformation by modernizing legacy systems and introducing new digital workflows"
    />
    <UniqueValueCard
      logo={u3}
      title="Cybersecurity Risk Management"
      description="Protect your business with a comprehensive security strategy, mitigating risk across your digital landscape"
    />
  </div>
</div>
