---
// index.astro or your desired page
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";

const cardData = [
  {
    image: "/assets/aviation1.svg",
    heading: "Predictive Aircraft Maintenance for a Major Airline",
    description:
      " Implemented an AI-powered maintenance system, reducing unscheduled downtime by 35%",
  },
  {
    image: "/assets/aviation2.svg",
    heading: "Real-Time Data Analytics for Airport Operations",
    description:
      "Designed a real-time data platform, improving passenger throughput and reducing delays at a major international airport",
  },
  {
    image: "/assets/aviation3.svg",
    heading: "IoT-Driven Baggage Tracking",
    description:
      "Enabled a seamless baggage tracking system, decreasing lost baggage rates by 40% across multiple airports",
  },
];
---

<div
  class="text-heading text-primary md:mb-12 mb-2 font-bold container px-5 md:px-0 mt-8 md:mt-20 lg:mt-40"
>
  Industry Use Cases
</div>
<div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5 mt-12 container px-5 md:px-0 mt-8 md:mt-20 lg:mt-25"
  >
    {cardData.map((card, index) => <SuccessStories key={index} {...card} />)}
  </div>
</div>
