---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---

<div class="container my-10 md:my-20">

  <div class="text-heading text-primary mb-[111px] font-semibold">
    Aviation Technology Solutions We Offer
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6">
    <UniqueValueCard
    logo="/assets/unique1.svg"
    title="Predictive Maintenance"
    description="Use AI and IoT to predict aircraft maintenance needs, reducing downtime and improving fleet reliability."
    />
    <UniqueValueCard
    logo="/assets/unique2.svg"
    title="Airport Data Analytics"
    description="Optimize airport operations with real-time data analytics, enhancing passenger flow and resource management"
    />
    <UniqueValueCard
    logo="/assets/unique3.svg"
    title="Smart Baggage Tracking"
    description="Implement IoT-based baggage tracking systems to ensure smooth handling and minimize lost luggage incidents"
    />
    <UniqueValueCard
    logo="/assets/unique3.svg"
    title="AI-Powered Safety & Security"
    description="Deploy AI tools for enhancing safety protocols, threat detection, and ensuring compliance with industry standards"
    />
  </div>
  
</div>