---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Aviation Expertise",
    description:
      "Proven experience in working with airlines, airports, and ground services",
  },
  {
    title: "Safety-First Approach",
    description:
      "Prioritize regulatory compliance and safety enhancements through cutting-edge technology.",
  },
  {
    title: "Operational Efficiency",
    description:
      "  Solutions that streamline processes, reduce costs, and enhance passenger experiences.",
  },
];
---

<div class="py-8 mt-10 md:mt-20 lg:mt-20 xl:mt-30 container px-5 md:px-0">
  <div class="flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-6 text-primary">
      Why Spritle for Aviation Tech?
    </h2>

    <div>
      <Star items={items} maxWidth="1500px" />
    </div>
  </div>
</div>
