---
import Star from "@/components/DynamicProps/Star.astro";

const items = [
  {
    title: "Innovative Learning Tools",
    description:
      " Expert in AI, machine learning, and personalized learning systems.",
  },
  {
    title: "Scalable Platforms",
    description: " Solutions designed to grow with educational institutions",
  },
  {
    title: "Future-Ready Education",
    description:
      "  Creating digital learning environments that adapt to the evolving needs of students and educators",
  },
];
---

<div class="container my-10 md:my-20">
  <div class=" flex justify-center items-center flex-col">
    <h2 class="text-centerheading font-medium mb-8 text-primary">
      Why Generative AI is a Game Changer
    </h2>

    <div>
      <Star items={items} maxWidth="1500px" />
    </div>
  </div>
</div>
