---
import BtnBig from "@/components/DynamicProps/BtnBig.astro";
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
---

<div class="mt-40 container px-5 md:px-0">
  <div
    class="flex flex-col justify-center items-center text-center h-auto px-4 space-y-2 lg:space-y-5 xl:space-y-10 bg-background"
  >
    <div class="">
      <GradientHeading
        text="Redefining Education with Next-Gen Technology"
        maxWidth="1200px"
      />
    </div>
    <!-- <h1
    class="font-dmSans font-normal inline-block
            text-title bg-gradient-to-t from-white to-[rgba(255,255,255,0.3)] bg-clip-text text-transparent"
  >
  </h1> -->
    <p class="font-normal mt-4 text-title-body text-primary max-w-[1000px]">
      Empowering educators and students through AI-driven solutions,
      personalized learning, and seamless digital platforms
    </p>
    <BtnBig
      text="Discover Our EdTech Innovations"
      icon="/assets/rightarrow.svg"
      class="lg:px-7 px-2"
    />

    <h1 class="text-heading text-primary font-dmSans font-semibold mt-20">
      Technology-Driven Education for the Digital Era
    </h1>
    <p
      class="text-secondary mt-0 text-subbody font-normal text-center max-w-[1250px]"
    >
      Spritle integrates AI, machine learning, and digital platforms to provide
      scalable, engaging, and effective educational solutions for learners,
      teachers, and institutions
    </p>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
  .font-dmSans {
    font-family: "DM Sans", sans-serif;
  }
</style>
