---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
---
<div class=" container px-5 md:px-0 my-10 md:my-20">

  <div
  class="text-heading text-primary md:mb-12 mb-2 font-semibold "
  >
  EdTech Solutions We Offer
</div>
<div
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 gap-y-6 "
>
<UniqueValueCard
logo="/assets/unique1.svg"
title="AI-Enhanced Learning Management Systems"
description="Transform learning environments with AI-powered platforms that adapt to individual student needs, providing personalized learning paths and real-time performance insights"
/>
<UniqueValueCard
logo="/assets/unique2.svg"
title="Virtual Classrooms & Collaboration Tools"
description="Deliver seamless online education experiences with interactive virtual classrooms, enabling collaboration between students and educators, anywhere in the world"
/>
<UniqueValueCard
logo="/assets/unique3.svg"
title="Intelligent Tutoring Systems"
description="Use machine learning to create intelligent tutoring systems that provide real-time support and feedback to students, enhancing their learning outcomes"
/>
<UniqueValueCard
logo="/assets/unique3.svg"
title="Data-Driven Student Performance Analytics"
description="Leverage data analytics to track student progress, identify learning gaps, and offer tailored interventions that help students achieve their full potential"
/>
</div>

</div>